

.about-company-header {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
  padding-bottom: 392px;
  padding-right: 7.8%;

  background-image: url(../img/bg/bg-about-company-left@1x.png), url(../img/bg/bg-about-company-right@1x.png);
  background-position: bottom left, bottom right;
  background-size: 1100px, 1080px;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/bg-about-company-left@2x.png), url(../img/bg/bg-about-company-right@2x.png);
  }
}

@media  screen and (max-width: 1360px) {
  .about-company-header {
    background-size: 70%,76%;
  }
}

/*@media  screen and (min-width: 1490px) {
  .about-company-header {
    background-position: center 5px;
  }
}

@media  screen and (min-width: 1700px) {
  .about-company-header {
    background-position: center -30px;
  }
}

@media  screen and (min-width: 1850px) {
  .about-company-header {
    background-position: center -45px;
  }
}*/

@media  screen and (max-width: 540px) {
  .about-company-header {
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 368px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 420px) {
  .about-company-header {
    padding-bottom: 380px;

    background-image: url(../img/bg/bg-about-company-mobile@1x.png);
    background-size: cover;
    background-position: bottom center;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg/bg-about-company-mobile@2x.png);
    }
  }
}

.about-company-header__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 483px;
}

@media  screen and (max-width: 540px) {
  .about-company-header__wrapper {
    justify-content: center;
    align-items: center;
    max-width: 304px;
  }
}

.about-company-header img {
  width: 200px;
  height: 122px;
}

@media  screen and (max-width: 540px) {
  .about-company-header img {
    width: 145px;
    height: 88px;
  }
}

.about-company-header h1 {
  margin: 0;
  margin-top: 51px;
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .about-company-header h1 {
    margin-top: 45px;
    margin-bottom: 18px;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
  }
}

.about-company-header p {
  margin: 0;

  font-size: 18px;
  line-height: 23px;
  color: #1E1E1E;

}

@media  screen and (max-width: 540px) {
  .about-company-header p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
}
