.about-company-header h1 {
  margin: 0;

  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .about-company-header h1 {
    font-size: 22px;
    line-height: 29px;
    text-align: center;
  }
}

.about-company-header p {
  margin: 0;

  font-size: 18px;
  line-height: 23px;
  color: #1E1E1E;

}

@media  screen and (max-width: 540px) {
  .about-company-header p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
}
