@media  screen and (max-width: 965px) {
  .awards {
    position: relative;
  }
}

@media  screen and (max-width: 965px) {
  .awards::before {
    content: "";

    position: absolute;

    top: 0;
    right: 0;

    width: 93px;
    height: 180px;

    background-image: url(../img/bg/twig-21.svg);
    background-repeat: no-repeat;
    z-index: 1500;
  }
}




.awards * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.awards__tabs-mobile {
  display: none;
}

@media  screen and (max-width: 965px) {
  .awards__tabs-mobile {
    display: block;
  }
}

.awards__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

@media  screen and (max-width: 965px) {
  .awards__wrapper {
    display: none;
  }
}

.awards__slider-wrap {
  width: 100%;
  height: 611px;
  background: transparent;
  position: relative;
  overflow: hidden;
}



.awards__slider {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.awards__slider .awards__button {
  padding: 0;
  margin: 0;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;

  display: flex;
  justify-content: center;
  width: 100px;
  height: 100%;
  color: #1E1E1E;
  font-weight: bold;
  background-color: #FFF9F0;

  cursor: pointer;
}

.awards__button:hover {
  box-shadow: 0px 0px 94px rgba(49, 38, 10, 0.37);
}

.awards__button span {
  writing-mode: vertical-rl;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;

  padding-top: 55px;
}







.awards__slider .awards__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 55px;
  padding-left: 51px;

  width: calc(100% - 50px);

  background-color: #FFF9F0;
  transition: width .7s;
}

.awards__slider--yellow .awards__text {
  padding-left: 351px;

  background-color: #FFD885;
}

.awards__slider--yellow .awards__button {
  background-color: #FFD885;
}

.awards__slider--pink .awards__text {
  padding-left: 251px;

  background-color: #D6607A;
}

.awards__slider--pink .awards__button {
  color: #FFFFFF;
  background-color: #D6607A;
}

.awards__slider--green .awards__text {
  padding-left: 151px;

  background-color: #265113;
}

.awards__slider--green .awards__button {

  color: #FFFFFF;
  background-color: #265113;
}

.awards__slider--default::before {
  content: "";

  position: absolute;

  bottom: 95px;
  left: 0;

  width: 118px;
  height: 120px;

  background-image: url(../img/bg/twig-17.svg);
  background-repeat: no-repeat;
  z-index: 2000;
  transform: rotate(180deg);
}

.awards__slider--default::after {
  content: "";

  position: absolute;

  bottom: 0;
  left: 270px;

  width: 68px;
  height: 132px;

  background-image: url(../img/bg/twig-16.svg);
  background-repeat: no-repeat;
  z-index: 2000;
  transform: rotate(180deg);
}

.awards__slider--default .awards__text {
  position: relative;
}

.awards__slider--default .awards__text::before {
  content: "";

  position: absolute;

  bottom: 0;
  right: 0;

  width: 335px;
  height: 113px;

  background-image: url(../img/bg/twig-18.svg);
  background-repeat: no-repeat;
  z-index: 2000;
}

.awards__slider--default .awards__text::after {
  content: "";

  position: absolute;

  bottom: 0;
  right: -125px;

  width: 58px;
  height: 68px;

  background-image: url(../img/bg/twig-19.svg);
  background-repeat: no-repeat;
  z-index: 2000;
}

.awards__slider--green .awards__text::before {
  content: "";

  position: absolute;

  bottom: 0;
  right: 150px;

  width: 117px;
  height: 137px;

  background-image: url(../img/bg/twig-19.svg);
  background-repeat: no-repeat;
  z-index: 1500;
}

.awards__slider--pink .awards__text::before {
  content: "";

  position: absolute;

  bottom: 0;
  right: 80px;

  width: 182px;
  height: 189px;

  background-image: url(../img/bg/twig-20.svg);
  background-repeat: no-repeat;
  z-index: 1500;
}


.awards__slider.awards__slider--current {
  width: 100%;
}

.awards__slider.awards__slider--current .awards__text {
  width: calc(100% - 100px);
}


.awards__wrapper {
  transform: rotate(180deg);
}

.awards__text {
  transform: rotate(180deg);
}











.awards__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.awards__header h3 {
  margin: 0;
  margin-bottom: 30px;
}

.awards__header h3,
.awards__header span {
  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #1E1E1E;
}

.awards__slider--pink .awards__header h3,
.awards__slider--pink span,
.awards__slider--green .awards__header h3,
.awards__slider--green span {
  color: #FFFFFF;
}

.awards__text-wrap h4 {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  color: #1E1E1E;
}

.awards__text-wrap p {
  margin: 0;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #1E1E1E;
  opacity: 0.4;
}

.awards__slider--pink .awards__text-wrap h4,
.awards__slider--pink .awards__text-wrap p,
.awards__slider--green .awards__text-wrap h4,
.awards__slider--green .awards__text-wrap p {
  color: #FFFFFF;
}

.awards__text-wrapper {
  display: flex;
}

.awards__competition {
  max-width: 257px;
  margin-right: 84px;
}

.awards__competition h4 {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1E1E1E;
}

.awards__competition span {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #1E1E1E;
}

.awards__competition ul {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: -18px;

  list-style: none;
}

.awards__competition ul li {
  position: relative;
  margin-bottom: 18px;
  padding-left: 48px;

  font-weight: 450;
  font-size: 14px;
  line-height: 15px;
  color: #1E1E1E;
}

.awards__slider--pink .awards__competition h4,
.awards__slider--pink .awards__competition span,
.awards__slider--pink .awards__competition li,
.awards__slider--green .awards__competition h4,
.awards__slider--green .awards__competition span,
.awards__slider--green .awards__competition li {
  color: #FFFFFF;
}


.awards__competition ul li:nth-child(1)::before {
  content: "";

  position: absolute;

  top: -6px;
  left: 0;

  width: 34px;
  height: 44px;

  background-image: url(../img/bg/awards-11.svg);
  background-repeat: no-repeat;
}

.awards__competition ul li:nth-child(2)::before,
.awards__competition ul li:nth-child(3)::before {
  content: "";

  position: absolute;

  top: -6px;
  left: 0;

  width: 34px;
  height: 44px;

  background-image: url(../img/bg/awards-22.svg);
  background-repeat: no-repeat;
}

.awards__nomination {
  max-width: 205px;
}

.awards__nomination h4 {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1E1E1E;
}

.awards__nomination span {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #1E1E1E;
}

.awards__nomination p {
  margin: 0;
  margin-top: 25px;

  font-weight: 450;
  font-size: 14px;
  line-height: 15px;
  color: #1E1E1E;
}

.awards__slider--pink .awards__nomination h4,
.awards__slider--pink .awards__nomination span,
.awards__slider--pink .awards__nomination p,
.awards__slider--green .awards__nomination h4,
.awards__slider--green .awards__nomination span,
.awards__slider--green .awards__nomination p {
  color: #FFFFFF;
}








.awards__list {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.awards__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
}

@media  screen and (max-width: 540px) {
  .awards__item  {
    padding-top: 15px;
    padding-bottom: 16px;
  }
}

.awards__item:hover {
  box-shadow: 0px 0px 94px rgba(49, 38, 10, 0.37);
  cursor: pointer;
}

.awards__block {
  color: #1E1E1E;

  background-color: #FFF9F0;
}

.awards__block--green,
.awards__item--green {
  color: #FFFFFF;

  background-color: #265113;
}

.awards__block--pink,
.awards__item--pink {
  color: #FFFFFF;

  background-color: #D6607A;
}

.awards__block--yellow,
.awards__item--yellow {
  background-color: #FFD885;
}



.awards__text-mobile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

@media  screen and (max-width: 540px) {
  .awards__text-mobile {
    padding-top: 70px;
    padding-bottom: 157px;
    padding-left: 15px;
    padding-right: 15px;
  }
}









.awards__header-mobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.awards__header-mobile h3 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
}

@media  screen and (max-width: 540px) {
  .awards__header-mobile h3 {
    max-width: 246px;
    margin-bottom: 48px;

    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}





.awards__text-wrap-mobile h4 {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
}

@media  screen and (max-width: 540px) {
  .awards__text-wrap-mobile h4 {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 23px;
  }
}

.awards__text-wrap-mobile p {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  opacity: 0.4;
}

@media  screen and (max-width: 540px) {
  .awards__text-wrap-mobile p {
    max-width: 185px;
    margin-bottom: 35px;

    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
  }
}

.awards__text-wrapper-mobile {
  display: flex;
  flex-direction: column;
}

.awards__competition-mobile {
  max-width: 257px;
  margin-right: 84px;
}

@media  screen and (max-width: 540px) {
  .awards__competition-mobile {
    margin-right: 0;

    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}


.awards__competition-mobile h4 {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

@media  screen and (max-width: 540px) {
  .awards__competition-mobile h4 {
    margin-right: 5px;
    font-size: 15px;
    line-height: 19px;
  }
}


.awards__competition-mobile span {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

@media  screen and (max-width: 540px) {
  .awards__competition-mobile span {
    font-size: 15px;
    line-height: 19px;
  }
}

.awards__competition-mobile ul {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: -18px;

  list-style: none;
}

@media  screen and (max-width: 540px) {
  .awards__competition-mobile ul {
    width: 100%;
    max-width: 276px;
    margin-top: 12px;
    margin-bottom: -20px;
  }
}


.awards__competition-mobile ul li {
  position: relative;
  margin-bottom: 18px;
  padding-left: 48px;

  font-weight: 450;
  font-size: 14px;
  line-height: 15px;
}

@media  screen and (max-width: 540px) {
  .awards__competition-mobile ul li {
    margin-bottom: 20px;
    padding-left: 37px;

    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
  }
}



.awards__competition-mobile ul li:nth-child(1)::before {
  content: "";

  position: absolute;

  top: -6px;
  left: 0;

  width: 34px;
  height: 44px;

  background-image: url(../img/bg/awards-11.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 540px) {
  .awards__competition-mobile ul li:nth-child(1)::before {
    width: 27px;
    height: 34px;
  }
}


.awards__competition-mobile ul li:nth-child(2)::before,
.awards__competition-mobile ul li:nth-child(3)::before {
  content: "";

  position: absolute;

  top: -6px;
  left: 0;

  width: 34px;
  height: 44px;

  background-image: url(../img/bg/awards-22.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 540px) {
  .awards__competition-mobile ul li:nth-child(2)::before,
  .awards__competition-mobile ul li:nth-child(3)::before {
    top: -12px;

    width: 27px;
    height: 34px;
  }
}


.awards__nomination-mobile {
  max-width: 205px;
  margin-top: 30px;
}

@media  screen and (max-width: 540px) {
  .awards__nomination-mobile  {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 35px;

  }
}

.awards__nomination-mobile h4 {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

@media  screen and (max-width: 540px) {
  .awards__nomination-mobile h4  {
    margin-right: 5px;

    font-size: 15px;
    line-height: 19px;
  }
}

.awards__nomination-mobile span {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

@media  screen and (max-width: 540px) {
  .awards__nomination-mobile span  {
    font-size: 15px;
    line-height: 19px;
  }
}


.awards__nomination-mobile p {
  margin: 0;
  margin-top: 25px;

  font-weight: 450;
  font-size: 14px;
  line-height: 15px;
}

@media  screen and (max-width: 540px) {
  .awards__nomination-mobile p  {
    width: 100%;
  }
}


// Стили для Табов

.awards .block { display: none; }
.awards .block.active { display: block; }
