.main-map [class*="balloon__content"] {
  max-width: 283px;
  padding-top: 20px;
  padding-left: 29px;
}

.main-map [class*="balloon-content__header"] {
  margin-bottom: 0;
}

.main-map [class*="balloon_to_top"] {
  top: -196px !important;
}


.balloon-main-header {
  font-family: "Avenir Next Cyr", "Arial", sans-serif;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #1E1E1E;
}

.balloon-main-p {
  max-width: 225px;

  font-family: "Avenir Next Cyr", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #1E1E1E;
  opacity: 0.7;
}


.buy-map [class*="balloon_to_top"] {
  top: -160px !important;
}



.buy-map [class*="balloon__content"] {
  max-width: 283px;
  padding-top: 20px;
  padding-left: 29px;
}

.buy-map [class*="balloon-content__header"] {
  margin-bottom: 0;
}

.balloon-buy-header {
  font-family: "Avenir Next Cyr", "Arial", sans-serif;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #1E1E1E;
}

.balloon-buy-p {
  max-width: 225px;

  font-family: "Avenir Next Cyr", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #1E1E1E;
  opacity: 0.7;
}





.balloon p {
  margin: 0;

  font-family: "Avenir Next Cyr", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #1E1E1E;
  white-space: nowrap;
}

.franchise-map [class*="balloon__content"] {
  padding-top: 20px !important;
  padding-left: 20px !important;

}


@media  screen and (max-width: 920px) {
  .franchise-map [class*="balloon__content"] {
    padding-top: 17px !important;
    padding-left: 20px !important;
  }
}

.franchise-map [class*="balloon_to_top"] {
  top: -97px !important;
}
