.btn-submit {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

  background-color: #DC0030;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #B30027;
}

.btn-submit:disabled,
.btn-submit[disabled]{
  background-color: #E3D3D3;
  cursor: default;
}

.btn-submit span {
  position: relative;
  padding-right: 30px;
}

.btn-submit span::after {
  content: "";
  position: absolute;

  top: 4px;
  right: 7px;

  width: 7px;
  height: 12px;

  background-image: url(../img/bg/btn-arrow.svg);
  background-repeat: no-repeat;
}
