.buy-saint-petersburg {
  position: relative;
  padding-top: 53px;
  padding-bottom: 71px;
  padding-left: 138px;
  padding-right: 138px;

  background-image: url(../img/bg/bg-buy-saint-petersburg.svg);
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media  screen and (max-width: 1000px) {
  .buy-saint-petersburg {
    padding-left: 60px;
    padding-right: 60px;

    background-position: 100% 130%;
    background-size: 150%;
  }
}

@media  screen and (max-width: 868px) {
  .buy-saint-petersburg {
    padding-left: 30px;
    padding-right: 30px;

    background-position: 100% 100%;
  }
}

@media  screen and (max-width: 760px) {
  .buy-saint-petersburg {

    background-position: 100% 80%;
  }
}

@media  screen and (max-width: 690px) {
  .buy-saint-petersburg {

    background-position: 100% 65%;
    background-size: 120%;
  }
}

@media  screen and (max-width: 540px) {
  .buy-saint-petersburg {
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;

    background-image: url(../img/bg/bg-buy-saint-petersburg-mobile.svg);
    background-position: top center;
    background-size: cover;
  }
}

.buy-saint-petersburg::before {
  content: "";

  position: absolute;

  bottom: -12px;
  right: 95px;

  width: 59px;
  height: 57px;

  background-image: url(../img/bg/flower-9.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 540px) {
  .buy-saint-petersburg::before {
    bottom: 106.5%;

    width: 30px;
    height: 29px;
  }
}

@media  screen and (max-width: 540px) {
  .buy-saint-petersburg::after {
    content: "";

    position: absolute;

    top: -15px;
    right: 30%;

    width: 6px;
    height: 6px;

    background-image: url(../img/bg/circle.svg);
    background-repeat: no-repeat;
  }
}

.buy-saint-petersburg__header {
  display: flex;
}

.buy-saint-petersburg__header h1 {
  margin: 0;
  margin-bottom: 35px;
  margin-right: 5px;
  padding-top: 6px;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #1E1E1E;
}

@media  screen and (max-width: 1165px) {
  .buy-saint-petersburg__header h1 {
    display: flex;
    flex-direction: column;
  }
}

@media  screen and (max-width: 900px) {
  .buy-saint-petersburg__header h1 {
    font-size: 45px;
    line-height: 51px;
  }
}


@media  screen and (max-width: 540px) {
  .buy-saint-petersburg__header h1 {
    margin-bottom: 20px;

    font-size: 22px;
    line-height: 29px;
  }
}

.buy-saint-petersburg__header h1 span {
  color: #DC0030;
}

.buy-saint-petersburg__header object {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;

  background-color: #DC0030;
  border-radius: 100%;
}

@media  screen and (max-width: 1165px) {
  .buy-saint-petersburg__header object {
    margin-top: 55px;
  }
}

@media  screen and (max-width: 540px) {
  .buy-saint-petersburg__header object {
    margin-top: 25px;

    width: 22px;
    height: 22px;
  }
}

.buy-saint-petersburg__header object span {
  display: flex;

  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
}

@media  screen and (max-width: 540px) {
  .buy-saint-petersburg__header object span {
    font-size: 9px;
    line-height: 10px;
  }
}

.buy-saint-petersburg__text {
  display: flex;
  margin-right: -29px;
  margin-bottom: 36px;
}

@media  screen and (max-width: 1165px) {
  .buy-saint-petersburg__text {
    flex-direction: column;
    margin-right: 0;
  }
}

@media  screen and (max-width: 540px) {
  .buy-saint-petersburg__text {
    margin-bottom: 25px;
  }
}

.buy-saint-petersburg__text p {
  max-width: 323px;
  margin: 0;
  margin-right: 29px;

  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #1E1E1E;

}

@media  screen and (max-width: 1165px) {
  .buy-saint-petersburg__text p {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media  screen and (max-width: 540px) {
  .buy-saint-petersburg__text p {
    margin-bottom: 15px;
  }
}


.buy-saint-petersburg__search {
  position: relative;
  max-width: 633px;
}

@media  screen and (max-width: 1150px) {
  .buy-saint-petersburg__search {
    max-width: 400px;
  }
}

@media  screen and (max-width: 540px) {
  .buy-saint-petersburg__search {
    max-width: 100%;
  }
}

.buy-saint-petersburg__search::before {
  content: "";

  position: absolute;

  top: 12px;
  left: 14px;

  width: 24px;
  height: 24px;

  background-image: url(../img/bg/search.svg);
  background-repeat: no-repeat;
  z-index: 5000;
}

.buy-saint-petersburg__search input {
  border: none;
}

.buy-saint-petersburg__search input {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 46px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 43px;
  padding-right: 21px;

  border: none;
  border: 1px solid rgba(227, 227, 227, 0.4);
  border-radius: 5px;
}

.buy-saint-petersburg__search input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1E1E1E;

  opacity: 0.5;
}

@media  screen and (max-width: 540px) {
  .buy-saint-petersburg__search input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
}

.buy-saint-petersburg__search input:focus {
  outline: none;
  border: 1.5px solid #1E1E1E;
}
