.buy-map {
  position: relative;
}

.buy-map::before {
  content: "";

  position: absolute;

  bottom: 0;
  left: 50px;

  width: 122px;
  height: 129px;

  background-image: url(../img/bg/twig-23.svg);
  background-repeat: no-repeat;
  z-index: 1000;
}

@media  screen and (max-width: 645px) {
  .buy-map::before {
    background-image: none;
  }
}

.buy-map::after {
  content: "";

  position: absolute;

  top: 0;
  right: 0;

  width: 187px;
  height: 230px;

  background-image: url(../img/bg/twig-25.svg);
  background-repeat: no-repeat;
  z-index: 1000;
}

@media  screen and (max-width: 645px) {
  .buy-map::after {
    background-image: none;
  }
}

.buy-map__wrapper {
  position: relative;
}

.buy-map__wrapper::before {
  content: "";

  position: absolute;

  top: 0;
  left: 50px;

  width: 154px;
  height: 220px;

  background-image: url(../img/bg/twig-22.svg);
  background-repeat: no-repeat;
  z-index: 6000;
}

@media  screen and (max-width: 645px) {
  .buy-map__wrapper::before {
    background-image: none;
  }
}


.buy-map__wrapper::after {
  content: "";

  position: absolute;

  bottom: 0;
  left: 450px;

  width: 181px;
  height: 149px;

  background-image: url(../img/bg/twig-24.svg);
  background-repeat: no-repeat;
  z-index: 1000;
}


@media  screen and (max-width: 645px) {
  .buy-map__wrapper::after {
    background-image: none;
  }
}


.buy-map__map {
  position: relative;
  width: 100%;
  height: 700px;
  z-index: 10;
}



@media  screen and (max-width: 540px) {
  .buy-map__map {
    height: 500px;
  }
}

.buy-map__map::before {
  content: "";

  position: absolute;

  left: 15%;
  bottom: -25px;

  width: 74px;
  height: 70px;

  background-image: url(../img/bg/flower-10.svg);
  background-repeat: no-repeat;
  z-index: 4000;
}

@media  screen and (max-width: 1126px) {
  .buy-map__map::before {

    left: 7%;
  }
}

@media  screen and (max-width: 920px) {
  .buy-map__map::before {

    background-image: none;
  }
}


[class*="copyrights-pane"] {
	display: none !important;
}

.buy-map [class*="ground-pane"] {
	//filter: grayscale(1);
  filter: sepia(100%);
}
