.buy-russia {
  margin-bottom: 150px;
}

@media  screen and (max-width: 1150px) {
  .buy-russia {
    margin-bottom: 75px;
  }
}

@media  screen and (max-width: 540px) {
  .buy-russia {
    margin-bottom: 101px;
  }
}

.buy-russia__text {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

@media  screen and (max-width: 900px) {
  .buy-russia__text {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media  screen and (max-width: 540px) {
  .buy-russia__text {
    margin-bottom: 14px;
  }
}

.buy-russia__text h2 {
  margin: 0;
  max-width: 473px;
  margin-right: 115px;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #1E1E1E;
}

@media  screen and (max-width: 1090px) {
  .buy-russia__text h2 {
    font-size: 45px;
    line-height: 51px;
  }
}

@media  screen and (max-width: 900px) {
  .buy-russia__text h2 {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

@media  screen and (max-width: 540px) {
  .buy-russia__text h2 {
    margin-bottom: 15px;

    font-size: 22px;
    line-height: 29px;
  }
}

.buy-russia__text h2 span {
  color: #DC0030;
}

.buy-russia__text p {
  margin: 0;
  max-width: 442px;

  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #1E1E1E;
}

.buy-russia__text p strong {
  font-weight: 600;
}

.buy-russia ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: -11px;

  list-style: none;
}

@media  screen and (max-width: 400px) {
  .buy-russia ul {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: -15px;
  }
}

.buy-russia ul li {
  margin-right: 11px;
  flex: 1;

  background-color: #92D660;
}

.buy-russia ul li img {
  margin: 0 auto;
}

@media  screen and (max-width: 400px) {
  .buy-russia ul li {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media  screen and (max-width: 400px) {
  .buy-russia ul li img {
    height: 120px;
  }
}
