.catalog-page {
  position: relative;

  background-color: #FFF9F0;
}



@media  screen and (max-width: 700px) {
  .catalog-page .header__z-index {

    background-color: #FFF9F0;
    z-index: 4000;
  }
}




.catalog-page::before {
  content: "";

  position: absolute;

  top: 0;
  right: 220px;

  width: 23px;
  height: 71px;


  background-image: url(../img/bg/twig-14.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 1200px) {
  .catalog-page::before {
    background-image: none;
  }
}



.catalog-page::after {
  content: "";

  position: absolute;

  top: 20px;
  right: 280px;

  width: 34px;
  height: 34px;

  background-image: url(../img/bg/circle-2.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 1200px) {
  .catalog-page::after {
    background-image: none;
  }
}

