.catalog-header {
  position: relative;


  background-image: url(../img/bg/bg-catalog-header.svg);
  background-position: bottom right;
  background-size: 94%;
  background-repeat: no-repeat;
}

@media  screen and (max-width: 1200px) {
  .catalog-header {
    background-size: 84%;
  }
}

@media  screen and (max-width: 845px) {
  .catalog-header {
    background-size: 100%;
    background-position: bottom 0 right -150px;
  }
}

@media  screen and (max-width: 700px) {
  .catalog-header {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media  screen and (max-width: 670px) {
  .catalog-header {

    background-position: bottom 0 right -100px;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-header {

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;

    background-image: url(../img/bg/bg-catalog-header-mobile.svg);

    background-position: bottom 0 right 0;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-header::before  {
    content: "";

    position: absolute;

    top: -45px;
    left: 140px;

    width: 144px;
    height: 84px;

    background-image: url(../img/bg/twigs.svg);
    background-repeat: no-repeat;
  }
}


.catalog-header p {
  margin: 0;
  display: none;
}

@media  screen and (max-width: 700px) {
  .catalog-header p {
    display: block;

    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #1E1E1E;
  }
}

.catalog-header__wrapper {
  display: flex;
  padding-top: 53px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

@media  screen and (max-width: 700px) {
  .catalog-header__wrapper {
    display: none;
  }
}


.catalog-header__wrapper h1 {
  margin: 0;
  margin-right: 10px;

  font-weight: 600;
  font-size: 75px;
  line-height: 83px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 1050px) {
  .catalog-header__wrapper h1 {
    font-size: 55px;
    line-height: 63px;
  }
}




.catalog-header__wrapper object {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;

  background-color: #DC0030;
  border-radius: 100%;
}


.catalog-header__wrapper object span {
  display: flex;

  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
}










.catalog-header__buttons-wrap {
  display: none;
  position: relative;
  min-width: 165px;
  margin-left: auto;
}

@media  screen and (max-width: 700px) {
  .catalog-header__buttons-wrap  {
    display: flex;
    //width: 100vw;
  }
}

.catalog-header__button {
  align-self: flex-start;
  padding: 0;
  margin: 0;
  //margin-top: 12px;
  margin-left: auto;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 16px;
  line-height: 20px;

  background-color: #DC0030;
  border: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 5px;
}



.catalog-header__button:hover {
  background-color: #B20027;
}

@media  screen and (max-width: 700px) {
  .catalog-header__button:hover  {
    color: #1E1E1E;
  }
}

.catalog-header__button span {
  margin-right: 12px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

@media  screen and (max-width: 700px) {
  .catalog-header__button span  {
    margin-right: 0;
  }
}

.catalog-header__button svg {
  margin-bottom: 0px;
  margin-left: 5px;

  fill: transparent;
  stroke: #FFFFFF;
}


.catalog-header__button--opened svg {
  stroke: #FFFFFF;
  transform: rotate(180deg);
}

.catalog-header__button:hover svg {
  stroke: #FFFFFF;
}

/* .catalog-header__button--closed {
  color: #1E1E1E;
}
 */
/* .catalog-header__button--opened {
  color: #DC0030;
}
 */




.catalog-header__list {
  margin: 0;
  padding: 0;

  list-style: none;

  position: absolute;

  top: 43px;
  right: -5px;

  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  background-color: #FFFFFF;

  box-shadow: 0px 20px 12px rgba(71, 53, 21, 0.02), 0px 9px 9px rgba(71, 53, 21, 0.03), 0px 2px 5px rgba(71, 53, 21, 0.03), 0px 0px 0px rgba(71, 53, 21, 0.03);
  border-radius: 5px;
  z-index: 5000;
}

.catalog-header__list--opened {
  display: flex;
}

.catalog-header__list--closed {
  display: none;
}

.catalog-header__list button {
  position: relative;

  display: flex;

  min-width: 245px;

  align-self: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  line-height: 17px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.catalog-header__list button:hover {
  color: #DC0030;
}

.catalog-header__list button:active {
  font-weight: 600;
  color: #DC0030;
}

.catalog-header__item--active {
  font-weight: 600;
  color: #DC0030;
}

.catalog-header__item--active::before {
  content: "";
  position: absolute;

  top: 5px;

  right: 2px;

  width: 13px;
  height: 9px;

  background-image: url(../img/bg/selected.svg);
}
