.catalog-product {
  display: flex;

  background-color: #FFFFFF;
}

.catalog-product__wrap {
  display: none;
}

@media  screen and (max-width: 540px) {
  .catalog-product__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;

    background-color: #FFF9F0;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-product__wrap p {
    margin: 0;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;

    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #000000;
  }
}


@media  screen and (max-width: 540px) {
  .catalog-product__wrap ul {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    padding-right: 15px;
    padding-left: 15px;

    list-style: none;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-product__wrap ul li {
    position: relative;

    padding-left: 16px;
    margin-bottom: 16px;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-product__wrap ul li::before {
    content: "";
    position: absolute;

    top: 8px;
    left: 0;

    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: #DC0030;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-product__wrap li span  {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1E1E1E;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-product__btn {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-product__wrap .catalog-product__btn a {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-product__imges {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5%;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-product__imges img {
    width: 49.5%;
    margin-right: 0.5%;
    margin-bottom: 2px;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-product__wrapper {
    display: none;
  }
}

.catalog-product__wrapper ul {

  display: flex;

  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  margin-right: -0.4%;

  padding-top: 5px;

  list-style: none;
}

.catalog-product__wrapper ul li {
  display: flex;
  justify-content: center;
  align-items:flex-end;


  width: 19.6%;

  max-width: 19.6%;



  height: 288px;
  max-height: 288px;

  margin-bottom: 5px;

  margin-right: 0.4%;


}



@media  screen and (max-width: 1125px) {
  .catalog-product__wrapper ul li {
    height: 222px;
    max-height: 222px;
  }
}

@media  screen and (max-width: 950px) {
  .catalog-product__wrapper ul li {
    height: 187px;
    max-height: 187px;
  }
}

@media  screen and (max-width: 768px) {
  .catalog-product__wrapper ul li {
    height: 152px;
    max-height: 152px;
  }
}

.catalog-product__wrapper ul li:nth-child(8) {
  align-items: center;
}

.catalog-product__item {
  background-color: black;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-product__item--1 {

  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-1-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/linear.png),
                      url(../img/bg/product-1-desktop@2x.jpg);
  }
}

.catalog-product__item--2 {
  background-image: url(../img/bg/product-2-desktop@1x.svg);
}

.catalog-product__item--3 {

  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-3-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/linear.png),
                      url(../img/bg/product-3-desktop@2x.jpg);
  }
}

.catalog-product__item--4 {

  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-4-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/product-4-desktop@2x.jpg);
  }
}

.catalog-product__item--5 {

  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-5-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/linear.png),
                      url(../img/bg/product-5-desktop@2x.jpg);
  }
}

.catalog-product__item--6 {

  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-6-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/linear.png),
                      url(../img/bg/product-6-desktop@2x.jpg);
  }
}

.catalog-product__item--7 {

  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-7-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/linear.png),
                      url(../img/bg/product-7-desktop@2x.jpg);
  }
}

.catalog-product__item--8 {
  background-color: #DC0030;
}

.catalog-product__item--9 {
  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-9-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/linear.png),
                      url(../img/bg/product-9-desktop@2x.jpg);
  }
}

.catalog-product__item--10 {

  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-10-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/linear.png),
                      url(../img/bg/product-10-desktop@2x.jpg);
  }
}

.catalog-product__item--11 {
  background-image: url(../img/bg/product-11-desktop@1x.svg);
}

.catalog-product__item--12 {
  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-12-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/linear.png),
                      url(../img/bg/product-12-desktop@2x.jpg);
  }
}

.catalog-product__item--13 {
  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-13-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/linear.png),
                      url(../img/bg/product-13-desktop@2x.jpg);
  }
}

.catalog-product__item--14 {
  background-image: url(../img/bg/linear.png),
                    url(../img/bg/product-14-desktop@1x.jpg);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/linear.png),
                      url(../img/bg/product-14-desktop@2x.jpg);
  }
}

.catalog-product__item--15 {
  background-image: url(../img/bg/product-15-desktop@1x.svg);
}




.catalog-product__item a {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  width: 100%;
  height: 100%;

  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 26px;
  padding-right: 26px;
}


.catalog-product__wrapper span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.catalog-product .catalog-product__item--8 {
  padding: 0;
}

.catalog-product__item--8 div {
  display: flex;
  width: 100%;
  height: 100%;
}

.catalog-product__item--8 div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.catalog-product__item--8 div a span {
  font-size: 22px;
  line-height: 29px;
}

@media  screen and (max-width: 1125px) {
  .catalog-product__item--8 div a span {
    font-size: 14px;
    line-height: 17px;
  }
}

.catalog-product__item--8 div a span::after {
  top: 8px;
}

@media  screen and (max-width: 1125px) {
  .catalog-product__item--8 div a span::after {
    top: 2px;
    right: 13px;
  }
}
