.catalog-main {
  display: flex;
}

.catalog-main__aside {
  width: 254px;
  //max-width: 254px;
}

@media  screen and (max-width: 700px) {
  .catalog-main__aside {
    display: none;
  }
}



.catalog-main__list {
  width: 254px;
  margin: 0;
  padding: 0;
  padding-bottom: 394px;
  margin-bottom: -3px;

  list-style: none;
  background-image: url(../img/bg/bg-catalog-main.svg);
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.catalog-main__list li {
  display: flex;

  margin-bottom: 3px;
}

.catalog-main__item {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
}


.catalog-main__item span {
  font-size: 14px;
  line-height: 17px;
  color: #1E1E1E;
  white-space: nowrap;
}

.catalog-main__item:hover span {
  color: #DC0030;
}

.catalog-main__item--active {
  background-color: #DC0030;
  cursor: default;
}

.catalog-main__item--active span {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.catalog-main__item--active:hover span {
  color: #FFFFFF;
}









.catalog-main__list-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  filter: drop-shadow(0px -16px 134px rgba(49, 38, 10, 0.26));
}

.catalog-main__card {
  position: relative;
  width: 33.333333%;
  height: 490px;
  max-height: 490px;
}

@media  screen and (max-width: 1220px) {
  .catalog-main__card {
    height: 300px;
    max-height: 300px;
  }
}

@media  screen and (max-width: 880px) {
  .catalog-main__card {
    width: 50%;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-main__card {
    height: 188px;
    max-height: 188px;
  }
}



.catalog-main__card--10 {
  display: none;
}

@media  screen and (max-width: 400px) {
  .catalog-main__card--10 {
    display: block;
  }
}

.catalog-main__card-front {
  position: relative;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  height: 100%;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 43px;
  padding-right: 43px;

  background-color: #FFF9F0;
  z-index: 1000;
}

@media  screen and (max-width: 1220px) {
  .catalog-main__card-front {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 700px) {
  .catalog-main__card-front {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
  }
}


.catalog-main__card-front:hover {
  box-shadow: 10px 14px 49px rgba(70, 53, 27, 0.24);
}





.catalog-main__card--1 .catalog-main__card-front {
  background-color: #F8EFE3;
  background-image: url(../img/bg/catalog-card-1@1x.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/catalog-card-1@2x.png);
  }
}

@media  screen and (max-width: 880px) {
  .catalog-main__card--1 .catalog-main__card-front {
    background-color: #92D660;
  }
}

.catalog-main__card--2 .catalog-main__card-front {
  background-color: #D6607A;
  background-image: url(../img/bg/catalog-card-2@1x.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/catalog-card-2@2x.png);
  }
}

@media  screen and (max-width: 880px) {
  .catalog-main__card--2 .catalog-main__card-front {
    background-color: #FFF9F0;
  }
}


.catalog-main__card--3 .catalog-main__card-front {
  background-image: url(../img/bg/catalog-card-3@1x.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/catalog-card-3@2x.png);
  }
}

@media  screen and (max-width: 880px) {
  .catalog-main__card--3 .catalog-main__card-front {
    background-color: #FFF9F0;
  }
}

.catalog-main__card--4 .catalog-main__card-front {
  background-color: #FFD885;
  background-image: url(../img/bg/catalog-card-4@1x.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/catalog-card-4@2x.png);
  }
}

@media  screen and (max-width: 880px) {
  .catalog-main__card--4 .catalog-main__card-front {
    background-color: #D6607A;
  }
}


.catalog-main__card--5 .catalog-main__card-front {
  background-image: url(../img/bg/catalog-card-5@1x.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/catalog-card-5@2x.png);
  }
}

@media  screen and (max-width: 880px) {
  .catalog-main__card--5 .catalog-main__card-front {
    background-color: #FFD885;
  }
}



.catalog-main__card--6 .catalog-main__card-front {
  background-color: #92D660;
  background-image: url(../img/bg/catalog-card-6@1x.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/catalog-card-6@2x.png);
  }
}

@media  screen and (max-width: 880px) {
  .catalog-main__card--6 .catalog-main__card-front {
    background-color: #FFF9F0;
  }
}


.catalog-main__card--7 .catalog-main__card-front {
  background-image: url(../img/bg/catalog-card-7@1x.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/catalog-card-7@2x.png);
  }
}


.catalog-main__card--8 .catalog-main__card-front {
  background-color: #265113;
  background-image: url(../img/bg/catalog-card-8@1x.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/catalog-card-8@2x.png);
  }
}

.catalog-main__card--9 .catalog-main__card-front {
  background-image: url(../img/bg/catalog-card-9@1x.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/catalog-card-9@2x.png);
  }
}

@media  screen and (max-width: 880px) {
  .catalog-main__card--9 .catalog-main__card-front {
    background-color: #5EAD41;
  }
}


@media  screen and (max-width: 400px) {
  .catalog-main__card--10 .catalog-main__card-front {
    background-image: url(../img/bg/catalog-card-mobile-10@1x.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg/catalog-card-mobile-10@2x.png);
    }
  }
}


.catalog-main__card h3 {
  margin: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .catalog-main__card h3 {
    font-size: 12px;
    line-height: 16px;
  }
}

.catalog-main__card--2 h3,
.catalog-main__card--8 h3 {
  color: #FFFFFF;
}

@media  screen and (max-width: 880px) {
  .catalog-main__card--2 h3 {
    color: #1E1E1E;
  }
}

@media  screen and (max-width: 880px) {
  .catalog-main__card--4 h3 {
    color: #FFFFFF;
  }
}

.catalog-main__card-back {
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 28px;
  padding-bottom: 24px;
  padding-left: 29px;
  padding-right: 31px;

  background-color: #FFFFFF;
  box-shadow: 33px 63px 42px rgba(49, 32, 7, 0.02), 14px 28px 31px rgba(49, 32, 7, 0.03), 4px 7px 17px rgba(49, 32, 7, 0.03), 0px 0px 0px rgba(49, 32, 7, 0.03);
  border-radius: 0 0 24px 24px;

  position: absolute;
  width: 94%;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
}

.catalog-main__card:hover .catalog-main__card-front {
  position: relative;
  z-index: 6000;
}

.catalog-main__card:hover .catalog-main__card-back {
  transform: translateY(0);
  z-index: 5000;
}


@media  screen and (max-width: 1175px) {
  .catalog-main__card-back {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media  screen and (max-width: 540px) {
  .catalog-main__card-back {
    display: none;
  }
}






.catalog-main__card-back dl {
  margin-bottom: -9px;
}


.catalog-main__card-back dl div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;

  border-bottom: 1px solid rgba(227, 227, 227, 0.7);
}

.catalog-main__card-back dt {
  margin: 0;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #1E1E1E;
}

.catalog-main__card-back dd {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  color: #1E1E1E;
}



.catalog-main__btn {
  display: flex;
  margin-top: 29px;

}

.catalog-main__btn .btn-submit {
  display: flex;
  justify-content: center;

  background-color: #FFFFFF;

  border: 1.5px solid #DC0030;
  overflow: hidden;
}

.catalog-main__btn .btn-submit span {
  color: #DC0030;
}

.catalog-main__btn .btn-submit span::after {
  background-image: url(../img/bg/btn-arrow-red.svg);
}

.catalog-main__btn .btn-submit:hover {
  background-color: #FFD9E1;
}

.catalog-main__btn .btn-submit span {
  white-space: nowrap
}






.catalog-main__text--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 110px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-main__text--not-active {
  display: none;
}

.catalog-main__text h2 {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #1E1E1E;
  text-align: center;
}

@media  screen and (max-width: 540px) {
  .catalog-main__text h2 {
    font-size: 18px;
    line-height: 23px;
  }
}

.catalog-main__text p {
  margin: 0;
  max-width: 480px;

  font-size: 14px;
  line-height:19px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1E1E1E;
}


