.certification h2 {
  margin: 0;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .certification h2 {
    font-size: 22px;
    line-height: 29px;
  }
}


.certification__slider-wrapper {
  margin: 0;
  padding: 0;

  list-style: none;
}

.certification__slider-card h3 {
  margin: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #1E1E1E;
}

.certification__slider-card p {
  margin: 0;

  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #1E1E1E;
}
