.contacts__header {
  position: relative;

  padding-top: 79px;
  padding-bottom: 49px;
  padding-left: 138px;
  padding-right: 138px;

  background-image: url(../img/bg/bg-contacts.svg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media  screen and (min-width: 1440px) {
  .contacts__header {

    background-size: contain;
    background-position: center right;
  }
}


@media  screen and (max-width: 1336px) {
  .contacts__header {

    background-size: contain;
  }
}

@media  screen and (max-width: 1210px) {
  .contacts__header {
    padding-top: 49px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__header {
    padding-left: 80px;
  }
}

@media  screen and (max-width: 540px) {
  .contacts__header {
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 400px) {
  .contacts__header {
    padding-top: 30px;

    background-image: url(../img/bg/bg-contacts-mobile.svg);
    background-size: 100%;
  }
}

@media  screen and (max-width: 400px) {
  .contacts__header::after {

    content: "";

    position: absolute;

    top: -46px;
    left: 45%;

    width: 25px;
    height: 66px;

    background-image: url(../img/bg/twig-5.svg);
    background-repeat: no-repeat;
  }
}

@media  screen and (max-width: 375px) {
  .contacts__header {
    padding-top: 22px;
    padding-bottom: 59px;
  }
}

.contacts__header::before {
  content: "";

  position: absolute;

  bottom: -15px;
  left: 45px;

  width: 68px;
  height: 65px;

  background-image: url(../img/bg/flower-6.svg);
  background-repeat: no-repeat;

}

@media  screen and (max-width: 768px) {
  .contacts__header::before {

    bottom: -40px;
    left: 45px;

    width: 34px;
  }
}

@media  screen and (max-width: 400px) {
  .contacts__header::before {

    background-image: none;
  }
}

.contacts__header h1 {
  margin: 0;

  font-weight: 600;

  font-size: 75px;
  line-height: 83px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 1210px) {
  .contacts__header h1 {
    font-size: 65px;
    line-height: 73px;
  }
}

@media  screen and (max-width: 540px) {
  .contacts__header h1 {
    font-size: 36px;
    line-height: 40px;
  }
}

.contacts__wrapper {
  display: flex;
}

@media  screen and (max-width: 580px) {
  .contacts__wrapper {
    flex-wrap: wrap;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 550px;
  max-height: 550px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;

  background-color: #D6607A;
}

@media  screen and (max-width: 1070px) {
  .contacts__address {
    height: 500px;
    max-height: 500px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__address {
    height: auto;
    max-height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 580px) {
  .contacts__address {
    width: 100%;
  }
}

.contacts__address h2 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  opacity: 0.7;
}

@media  screen and (max-width: 580px) {
  .contacts__address h2 {
    margin-bottom: 104px;
  }
}

.contacts__address p {
  margin: 0;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #FFFFFF;
}

@media  screen and (max-width: 1290px) {
  .contacts__address p {
    font-size: 45px;
    line-height: 51px;
  }
}

@media  screen and (max-width: 1070px) {
  .contacts__address p {
    font-size: 35px;
    line-height: 41px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__address p {
    font-size: 22px;
    line-height: 29px;
  }
}

@media  screen and (max-width: 580px) {
  .contacts__address p {
    max-width: 290px;
  }
}

.contacts__emails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 550px;
  max-height: 550px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;

  background-color: #92D660;
}

@media  screen and (max-width: 1070px) {
  .contacts__emails {
    height: 500px;
    max-height: 500px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__emails {
    height: auto;
    max-height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 580px) {
  .contacts__emails {
    width: 100%;
  }
}

.contacts__emails h2 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #000000;
  opacity: 0.7;
}

@media  screen and (max-width: 768px) {
  .contacts__emails h2 {
    margin-bottom: 62px;
  }
}

.contacts__emails ul {
  margin: 0;
  padding: 0;
  margin-bottom: -50px;

  list-style: none;
}

@media  screen and (max-width: 768px) {
  .contacts__emails ul {
    margin-bottom: -25px;
  }
}

.contacts__emails ul li {
  margin-bottom: 50px;
}

@media  screen and (max-width: 768px) {
  .contacts__emails ul li {
    margin-bottom: 25px;
  }
}

.contacts__emails h3 {
  margin: 0;
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

@media  screen and (max-width: 768px) {
  .contacts__emails h3 {
    margin-bottom: 5px;

    font-size: 14px;
    line-height: 18px;
  }
}

.contacts__emails a {
  font-weight: 600;
  font-size: 38px;
  line-height: 42px;
  color: #2E6C00;
}

@media  screen and (max-width: 1070px) {
  .contacts__emails a {
    font-size: 22px;
    line-height: 29px;
  }
}

.contacts__wrap {
  display: flex;

  background-color: #FFD885;
}

@media  screen and (max-width: 580px) {
  .contacts__wrap {
    flex-wrap: wrap;
  }
}

.contacts__phone {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  height: 550px;
  max-height: 550px;

  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
}

@media  screen and (max-width: 1070px) {
  .contacts__phone {
    height: 500px;
    max-height: 500px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__phone {
    height: auto;
    max-height: auto;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 580px) {
  .contacts__phone {
    width: 100%;
    margin-bottom: 30px;
  }
}

.contacts__phone h2 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #000000;
  opacity: 0.7;
}

@media  screen and (max-width: 580px) {
  .contacts__phone h2 {
    margin-bottom: 19px;
  }
}

.contacts__phone p {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

@media  screen and (max-width: 768px) {
  .contacts__phone p {
    margin-bottom: 5px;

    font-size: 14px;
    line-height: 18px;
  }
}

.contacts__phone a {
  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #000000;
  white-space: nowrap
}

@media  screen and (max-width: 1290px) {
  .contacts__phone a {
    font-size: 45px;
    line-height: 51px;
  }
}

@media  screen and (max-width: 1070px) {
  .contacts__phone a {
    font-size: 35px;
    line-height: 41px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__phone a {
    font-size: 22px;
    line-height: 29px;
  }
}

.contacts__departments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 550px;
  max-height: 550px;

  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
}

@media  screen and (max-width: 1070px) {
  .contacts__departments {
    height: 500px;
    max-height: 500px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__departments {
    height: auto;
    max-height: auto;

    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 580px) {
  .contacts__departments {
    width: 100%;
  }
}

.contacts__departments h2 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #000000;
  opacity: 0.7;
}

@media  screen and (max-width: 768px) {
  .contacts__departments h2 {
    margin-bottom: 18px;
  }
}

@media  screen and (max-width: 580px) {
  .contacts__departments h2 {
    max-width: 210px;
  }
}

.contacts__departments dl {
  margin: 0;
  margin-bottom: -18px;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #000000;
}

@media  screen and (max-width: 580px) {
  .contacts__departments dl {
    max-width: 300px;
  }
}

.contacts__departments dl div {
  display: flex;

  margin-bottom: 18px;
}

@media  screen and (max-width: 768px) {
  .contacts__departments dl div {
    margin-bottom: 10px;
  }
}

.contacts__departments dt {
  display: flex;
  align-items: center;
  margin-right: 29px;
}

@media  screen and (max-width: 768px) {
  .contacts__departments dt {
    margin-right: 10px;
  }
}

.contacts__departments dt strong {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #000000;
}

@media  screen and (max-width: 1290px) {
  .contacts__departments dt strong {
    font-size: 45px;
    line-height: 51px;
  }
}

@media  screen and (max-width: 1070px) {
  .contacts__departments dt strong {
    font-size: 35px;
    line-height: 41px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__departments dt strong {
    font-size: 22px;
    line-height: 29px;
  }
}

.contacts__departments dd {
  display: flex;
  align-items: center;
  margin: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

@media  screen and (max-width: 768px) {
  .contacts__departments dd {
    font-size: 14px;
    line-height: 18px;
  }
}

@media  screen and (max-width: 1290px) {
  .contacts__phone a {
    font-size: 45px;
    line-height: 51px;
  }
}

@media  screen and (max-width: 1070px) {
  .contacts__phone a {
    font-size: 35px;
    line-height: 41px;
  }
}

@media  screen and (max-width: 768px) {
  .contacts__phone a {
    font-size: 22px;
    line-height: 29px;
  }
}
