.contacts__header {
  padding-top: 79px;
  padding-bottom: 49px;
  padding-left: 138px;
  padding-right: 138px;
}

.contacts__header h1 {
  margin: 0;

  font-weight: 600;

  font-size: 75px;
  line-height: 83px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

.contacts__wrapper {
  display: flex;
}

.contacts__address {
  width: 50%;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;

  background-color: #D6607A;
}

.contacts__address h2 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  opacity: 0.7;
}

.contacts__address p {
  margin: 0;
  padding-top: 31%;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #FFFFFF;
}

.contacts__emails {
  width: 50%;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;

  background-color: #92D660;
}

.contacts__emails h2 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #000000;
  opacity: 0.7;
}

.contacts__emails h3 {
  margin: 0;
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.contacts__emails ul {
  margin: 0;
  padding: 0;
  margin-bottom: -50px;
  padding-top: 38.5%;

  list-style: none;
}

.contacts__emails ul li {
  margin-bottom: 50px;
}

.contacts__emails a {
  font-weight: 600;
  font-size: 38px;
  line-height: 42px;
  color: #2E6C00;
}

.contacts__wrap {
  display: flex;

  background-color: #FFD885;
}

.contacts__phone {
  width: 50%;

  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
}

.contacts__phone h2 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #000000;
  opacity: 0.7;
}

.contacts__phone div {
  padding-top: 54.5%;
}

.contacts__phone p {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.contacts__phone a {
  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #000000;
}

.contacts__departments {
  width: 50%;

  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
}

.contacts__departments h2 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #000000;
  opacity: 0.7;
}

.contacts__departments dl {
  margin: 0;
  margin-bottom: -18px;
  padding-top: 10.4%;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #000000;
}

.contacts__departments dl div {
  display: flex;

  margin-bottom: 18px;
}

.contacts__departments dt {
  margin-right: 29px;
}

.contacts__departments dt strong {
  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #000000;
}

.contacts__departments dd {
  display: flex;
  align-items: center;
  margin: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
