.contacts-form {
  display: flex;
}

.contacts-form__img {
  width: 50%;
  background-image: url(../img/bg/landscape.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  filter: drop-shadow(0px 121px 49px rgba(182, 128, 12, 0.02)) drop-shadow(0px 68px 41px rgba(182, 128, 12, 0.07)) drop-shadow(0px 30px 30px rgba(182, 128, 12, 0.11)) drop-shadow(0px 8px 17px rgba(182, 128, 12, 0.13)) drop-shadow(0px 0px 0px rgba(182, 128, 12, 0.13));
}

.contacts-form__form {
  position: relative;

  width: 50%;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 60px;
}

.contacts-form__form p {
  margin: 0;
  margin-bottom: 34px;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #1E1E1E;
  opacity: 0.7;
}

.contacts-form__form input {
  width: 100%;
  max-width: 100%;
  min-height: 46px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 21px;
  padding-right: 21px;

  border: none;
  border: 1px solid rgba(227, 227, 227, 0.4);
  border-radius: 5px;
}

.contacts-form__form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1E1E1E;

  opacity: 0.5;
}

.contacts-form__form input:focus {
  outline: none;
  border: 1.5px solid #1E1E1E;
}

.contacts-form__field span {
  display: none;
}

.contacts-form__field-error span {
  position: absolute;
  display: block;
  color: #DC0030;
}

.contacts-form__field-error input {
  border: 1.5px solid #DC0030;
}

.contacts-form__form input:disabled,
.contacts-form__form input[disabled]{
  background-color: #F4F4F4;
}

.contacts-form__wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 26px;

}

.contacts-form__field-phone {
  margin-right: 22px;
}

.contacts-form__field-phone input {
  width: 157px;
}

.contacts-form__field-email {
  width: 100%;
}

.contacts-form__wrap {
  margin-bottom: 12px;
}

.contacts-form__wrap h3 {
  margin: 0;
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #1E1E1E;
}

.contacts-form__radio-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.contacts-form__radio {
  margin-bottom: 20px;
  margin-right: 8px;
}

.contacts-form__radio label {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E1E1E;
  white-space: nowrap;

  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 60px;
  user-select: none;
  cursor: pointer;
}

.contacts-form__radio label:hover {
  color: #DC0030;
}

.contacts-form__radio input {
  display: none;
}

.contacts-form__radio input[type="radio"]:checked + label {
  color: #DC0030;
  font-weight: 600;

	border: 1px solid #DC0030;
}

.contacts-form__textarea {
  width: 100%;
  margin-bottom: 21px;
}

.contacts-form__textarea textarea {
  width: 100%;
  height: 130px;
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 21px;
  padding-right: 21px;

  border: 1px solid rgba(227, 227, 227, 0.4);
  border-radius: 5px;
}

.contacts-form__textarea textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1E1E1E;

  opacity: 0.5;
}

.contacts-form__textarea textarea:focus {
  outline: none;
  border: 1.5px solid #1E1E1E;
}

.contacts-form__file-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.contacts-form__file-wrap label {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1E1E1E;
}

.contacts-form__photo,
.contacts-form__doc {
  margin-right: 22px;
  margin-bottom: 10px;
}

.contacts-form__photo label,
.contacts-form__doc label {
  position: relative;
  padding-left: 33px;

  cursor: pointer;
}

.contacts-form__photo label::before {
  content: "";
  position: absolute;

  top: -2px;
  left: 1px;

  width: 22px;
  height: 22px;

  background-image: url(../img/bg/photo.svg);
  background-repeat: no-repeat;
}

.contacts-form__doc label::before {
  content: "";
  position: absolute;

  top: -3px;
  left: 1px;

  width: 24px;
  height: 24px;

  background-image: url(../img/bg/doc.svg);
  background-repeat: no-repeat;
}


.contacts-form__photo input,
.contacts-form__doc input {
  display: none;
}

.contacts-form__consent {
  display: flex;
  max-width: 465px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.contacts-form__consent span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #1E1E1E;

  opacity: 0.5;
}

.contacts-form__consent span a {
  font-weight: 700;

  text-decoration: underline;
  opacity: 0.7;
}

.contacts-form__consent span a:hover {
  text-decoration: none;
}
