.cookie {
  position: fixed;
  width: 866px;
  max-width: 866px;
  display: flex;
  align-items: center;

  right: 20px;
  bottom: 45px;

  background-color: #FFFFFF;
  box-shadow: 0px -16px 134px rgba(49, 38, 10, 0.26);
  border-radius: 5px;

  z-index: 7000;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity $modal-transition-settings,
    transform $modal-transition-settings,
    visibility $modal-transition-settings;
}

@media  screen and (max-width: 920px) {
  .cookie {
    width: 566px;
    max-width: 566px;
  }
}

@media  screen and (max-width: 610px) {
  .cookie {
    width: 345px;
    max-width: 345px;

    right: 15px;
    bottom: 15px;
  }
}


.cookie--active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.cookie__message {
  position: relative;
  display: flex;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

@media  screen and (max-width: 610px) {
  .cookie__message {
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


.cookie__close-btn {
  position: absolute;
    top: 15px;
    right: 15px;
}

.cookie__text p {
  margin: 0;
  max-width: 571px;
  margin-right: 25px;

  font-size: 14px;
  line-height: 18px;
  color: #1E1E1E;
}

@media  screen and (max-width: 610px) {
  .cookie__text p {
    margin-bottom: 18px;

    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
}

.cookie__text p a {
  border-bottom: 1px solid #1E1E1E;
}

.cookie__text p a:hover {
  border-bottom: none;
}

.cookie__text p a strong {
  font-weight: 600;
}

.cookie__btn {
  display: flex;
}

@media  screen and (max-width: 610px) {
  .cookie__btn {
    width: 100%;
    max-width: 100%;
  }
}

.cookie__btn .btn-submit {
  display: flex;
  justify-content: center;
  width: 170px;
  max-width: 170px;
}

@media  screen and (max-width: 610px) {
  .cookie__btn .btn-submit {
    width: 100%;
    max-width: 100%;
  }
}
