.excellence {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #FFFFFF;
  background-image: url(../img/bg/bg-excellence.svg);
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px -6px 134px rgba(54, 45, 12, 0.08);
}

@media  screen and (max-width: 540px) {
  .excellence {
    padding-top: 45px;
    padding-bottom: 49px;

    background-image: url(../img/bg/bg-excellence-mobile.svg);
  }
}

.excellence__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 1166px;
  margin-left: auto;
  margin-right: auto;

  list-style: none;
}

@media  screen and (max-width: 975px) {
  .excellence__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
  }
}

@media  screen and (max-width: 540px) {
  .excellence__list {
    margin-bottom: -45px;
  }
}

@media  screen and (max-width: 975px) {
  .excellence__list li {
    margin-bottom: 50px;
  }
}

@media  screen and (max-width: 540px) {
  .excellence__list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 45px;
  }
}

.excellence__list li:nth-child(n + 1) {
  max-width: 377px;
}

@media  screen and (max-width: 540px) {
  .excellence__list li:nth-child(n + 1) {
    max-width: 179px;
  }
}

.excellence__list li:nth-child(n + 2) {
  max-width: 198px;
}

@media  screen and (max-width: 540px) {
  .excellence__list li:nth-child(n + 2) {
    max-width: 108px;
  }
}

.excellence__list li:nth-child(n + 3) {
  max-width: 250px;
}

@media  screen and (max-width: 540px) {
  .excellence__list li:nth-child(n + 3) {
    max-width: 175px;
  }
}

.excellence__list span {
  font-weight: 600;
  font-size: 75px;
  line-height: 83px;
  text-align: center;
  letter-spacing: -1px;
  color: #DC0030;
  white-space: nowrap;
}

@media  screen and (max-width: 540px) {
  .excellence__list span {
    font-size: 36px;
    line-height: 40px;
  }
}

.excellence__list p {
  margin: 0;
  margin-top: 17px;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .excellence__list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
  }
}
