.four-steps__description h2 {
  margin: 0;

  font-weight: 600;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -3px;
  color: #000000;
}

.four-steps__description ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

.four-steps__description p {
  margin: 0;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #000000;
}
