.four-steps__bg-img {
  position: relative;
  padding-top: 256px;

  background-image: url(../img/bg/bg-four-steps.svg);
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;

  @media (min-width: 1441px) {
    background-size: 1500px;
    background-position: bottom right;
  }
}

@media  screen and (max-width: 540px) {
  .four-steps__bg-img {

    padding-top: 145px;

    background-image: url(../img/bg/bg-four-steps-mobile.svg);
  }
}

.four-steps__bg-img::before {
  content: "";

  position: absolute;

  top: -104px;
  right: 33%;

  width: 83px;
  height: 315px;

  background-image: url(../img/bg/twig-6.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 870px) {
  .four-steps__bg-img::before {

    top: 15px;
    right: 31%;

    height: 200px;
  }
}

@media  screen and (max-width: 540px) {
  .four-steps__bg-img::before {

    background-image: none;
  }
}


.four-steps__wrapper {
  display: flex;
}

@media  screen and (max-width: 864px) {
  .four-steps__wrapper {
    flex-direction: column;
  }
}


.four-steps__img {
  display: flex;
  max-width: 864px;

  object-fit: cover;

}

@media  screen and (max-width: 864px) {
  .four-steps__img {
    order: 2;
  }
}



.four-steps__img img {
  height: 100%;

  object-fit: cover;
}

.four-steps__description {
  width: 576px;
  max-width: 576px;

  padding-top: 60px;
  padding-bottom: 59px;
  padding-left: 58px;
  padding-right: 27px;

  background-color: #FFFFFF;

  @media (min-width: 1441px) {
    flex: 1;
    max-width: 100%;
  }
}

@media  screen and (max-width: 1090px) {
  .four-steps__description {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24px;
  }
}

@media  screen and (max-width: 864px) {
  .four-steps__description  {
    width: 100%;
    max-width: 100%;

    order: 1;
  }
}

@media  screen and (max-width: 540px) {
  .four-steps__description  {
    padding-top: 35px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
}


.four-steps__description h2 {
  max-width: 450px;
  margin: 0;
  margin-bottom: 70px;
  margin-left: 6px;

  font-weight: 600;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -3px;
  color: #000000;
}

@media  screen and (max-width: 1090px) {
  .four-steps__description h2 {
    max-width: 400px;
    margin-bottom: 35px;

    font-size: 45px;
    line-height: 51px;
  }
}

@media  screen and (max-width: 540px) {
  .four-steps__description h2 {
    max-width: 340px;
    margin-bottom: 87px;
    margin-left: 5px;


    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}


.four-steps__description ol {
  width: 485px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.four-steps__description li {
  display: flex;
  margin-bottom: 55px;
}

@media  screen and (max-width: 1090px) {
  .four-steps__description li {
    margin-bottom: 30px;
  }
}

@media  screen and (max-width: 540px) {
  .four-steps__description li {
    margin-bottom: 16px;
  }
}



.four-steps__description li:nth-child(n + 1) span {
  background-color: #FFD885;
}

.four-steps__description li:nth-child(n + 2) span {
  background-color: #92D660;
}

.four-steps__description li:nth-child(n + 3) span {
  color: #FFFFFF;

  background-color: #265113;
}

.four-steps__description li:nth-child(n + 4) span {
  color: #FFFFFF;

  background-color: #D6607A;
}

.four-steps__description span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  margin-right: 25px;

  font-weight: 750;
  font-size: 22px;
  line-height: 29px;
  color: #000000;


  border-radius: 50%;
}

@media  screen and (max-width: 540px) {
  .four-steps__description span {
    width: 28px;
    height: 28px;
    margin-right: 14px;

    font-size: 14px;
    line-height: 18px;
  }
}


.four-steps__description p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #000000;
}

@media  screen and (max-width: 540px) {
  .four-steps__description p {
    font-size: 14px;
    line-height: 18px;
  }
}
