.franchise-application {
  padding-top: 100px;
  padding-bottom: 179px;

  background-image: url(../img/bg/bg-form-franchise.svg);
}

@media  screen and (max-width: 695px) {
  .franchise-application {
    padding-top: 0;
    padding-bottom: 0;

    background-image: none;
  }
}

.franchise-application .contacts-form__form::before {

  background-image: none;
}

.franchise-application .form-order__wrapper {
  padding-top: 70px;
}

@media  screen and (max-width: 540px) {
  .franchise-application .form-order__wrapper {
    padding-top: 40px;
  }
}

.franchise-application .contacts-form__form {
  padding-top: 0;
  padding-bottom: 90px;

  padding-left: 69px;
  padding-right: 69px;
}

@media  screen and (max-width: 540px) {
  .franchise-application .contacts-form__form {
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;

    background-image: none;
  }
}

.franchise-application .contacts-form__form p {
  max-width: 559px;
  margin: 0;
  margin-bottom: 48px;
  padding-left: 0;

  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 690px) {
  .franchise-application .contacts-form__form p {
    font-size: 22px;
    margin-bottom: 29px;
  }
}

@media  screen and (max-width: 540px) {
  .franchise-application .contacts-form__form p {
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0;
  }
}

.franchise-application .contacts-form__field,
.franchise-application .contacts-form__btn,
.franchise-application.contacts-form__consent {
  padding-left: 50px;
  padding-right: 50px;
}

@media  screen and (max-width: 690px) {
  .franchise-application .contacts-form__field,
  .franchise-application .contacts-form__btn,
  .franchise-application.contacts-form__consent {
  padding-left: 0;
  padding-right: 0;
  }
}

.franchise-application .contacts-form__btn {
  margin-top: 48px;
}
