.franchise-opening__bg {
  background-image: url(../img/bg/bg-franchise-opening.svg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media  screen and (max-width: 540px) {
  .franchise-opening__bg {

    background-image: url(../img/bg/bg-franchise-opening-mobile.svg);
    background-position: bottom right;
    background-size: auto;
  }
}


.franchise-opening__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 66px;
  padding-left: 139px;
  padding-right: 138px;
}

@media  screen and (max-width: 956px) {
  .franchise-opening__wrap {

    padding-left: 70px;
    padding-right: 70px;
  }
}

@media  screen and (max-width: 830px) {
  .franchise-opening__wrap {

    padding-left: 20px;
    padding-right: 20px;
  }
}

@media  screen and (max-width: 540px) {
  .franchise-opening__wrap {

    padding-top: 50px;
    padding-bottom: 54px;
    padding-left: 15px;
    padding-right: 15px;
  }
}



.franchise-opening__wrap h2 {
  margin: 0;

  font-weight: 600;
  font-size: 75px;
  line-height: 83px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 1168px) {
  .franchise-opening__wrap h2 {

    font-size: 55px;
    line-height: 63px;
  }
}

@media  screen and (max-width: 830px) {
  .franchise-opening__wrap h2 {
    margin-right: 40px;
  }
}

@media  screen and (max-width: 540px) {
  .franchise-opening__wrap h2 {
    max-width: 200px;

    font-size: 36px;
    line-height: 40px;
  }
}











.franchise-opening__buttons-slider {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.franchise-opening__buttons-slider .swiper-button-prev {
  margin-right: 17px;
}

@media  screen and (max-width: 540px) {
  .franchise-opening__buttons-slider .swiper-button-prev {
    margin-right: 8px;
  }
}

.franchise-opening__buttons-slider .swiper-button-prev,
.franchise-opening__buttons-slider .swiper-button-next {
  width: 57px;
  height: 57px;

  font-size: 0;

  background-color: #FFFFFF;
  background-image: url(../img/bg/btn-arrow-slider-black.svg);
  background-position: center center;
  box-shadow: 1px 4px 21px rgba(62, 47, 8, 0.05);
  border: 1.5px solid #FFFFFF;
  border-radius: 7.5px;
  cursor: pointer;
}

@media  screen and (max-width: 540px) {
  .franchise-opening__buttons-slider .swiper-button-prev,
  .franchise-opening__buttons-slider .swiper-button-next {
    width: 32px;
    height: 32px;
  }
}


.franchise-opening__buttons-slider .swiper-button-next {
  transform: scaleX(-1);
}

.franchise-opening__buttons-slider .swiper-button-prev:hover,
.franchise-opening__buttons-slider .swiper-button-next:hover {
  border: 1.5px solid#1E1E1E;
}

.franchise-opening__buttons-slider .swiper-button-disabled {
  background-color: #E3D3D3;
  background-image: url(../img/bg/btn-arrow-slider-white.svg);
  border: 1.5px solid #E3D3D3;

  cursor: default;
}

.franchise-opening__buttons-slider .swiper-button-disabled:hover {
  border: 1.5px solid #E3D3D3;
}






.franchise-opening__slider-container {
  width: 100%;
  padding-left: 20px;
  padding-bottom: 112px;
}

@media  screen and (max-width: 540px) {
  .franchise-opening__slider-container {
    padding-bottom: 105px;
  }
}

.franchise-opening__slider-wrapper {
  display: flex;
  justify-content: initial;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.franchise-opening__slider-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 400px;
  flex-shrink: 0;
}

@media  screen and (max-width: 540px) {
  .franchise-opening__slider-card {
    max-width: 302px;
  }
}

.franchise-opening__date {
  margin-bottom: 20px;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 19px;
  padding-right: 19px;

  background: #FFD885;
  border-radius: 50px;
}

@media  screen and (max-width: 540px) {
  .franchise-opening__date {
    margin-bottom: 15px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
  }
}

.franchise-opening__date span {

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #1E1E1E;


}

@media  screen and (max-width: 540px) {
  .franchise-opening__date span {
    font-size: 12px;
    line-height: 16px;
  }
}

.franchise-opening__slider-card h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 3px;

  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .franchise-opening__slider-card h3 {
    margin-top: 15px;
    margin-bottom: 5px;

    font-size: 22px;
    line-height: 29px;
  }
}

.franchise-opening__slider-card address {
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 29px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .franchise-opening__slider-card address {
    font-size: 14px;
    line-height: 18px;
  }
}






.franchise-opening__wrapper {
  box-shadow: 0px 13px 134px rgba(49, 24, 10, 0.08);

  filter: drop-shadow(0px 10px 134px rgba(49, 38, 10, 0.16));
}

@media  screen and (max-width: 600px) {
  .franchise-opening__wrapper {
    padding-top: 29px;
  }
}

.franchise-opening__wrapper h3 {
  display: none;

}

@media  screen and (max-width: 600px) {
  .franchise-opening__wrapper h3 {
    display: block;
    margin: 0;
    margin-bottom: 29px;
    padding-left: 15px;
    padding-right: 15px;

    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #1E1E1E;
  }
}

@media  screen and (max-width: 600px) {
  .franchise-opening__slider-shop-container {
    width: 100%;
    //padding-left: 20px;
    //padding-bottom: 112px;
  }
}



.franchise-opening__slider-shop-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: -2px;

  list-style: none;
}

@media  screen and (max-width: 600px) {
  .franchise-opening__slider-shop-wrapper {
    justify-content: initial;
    flex-wrap: nowrap;
  }
}


.franchise-opening__slider-shop-card {
  position: relative;
  width: 288px;
  max-width: 288px;
  margin-right: 2px;

  text-overflow: ellipsis;
  overflow: hidden;
}

@media  screen and (max-width: 600px) {
  .franchise-opening__slider-shop-card {
    flex-shrink: 0;
    margin-right: 0;
  }
}

.franchise-opening__slider-shop-card--header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media  screen and (max-width: 600px) {
  .franchise-opening__slider-shop-card--header {
    display: none;
  }
}

.franchise-opening__slider-shop-card:hover.franchise-opening__slider-shop-card::before {
  content:'';

  position:absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: url(../img/bg/linear-gradient.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.franchise-opening__slider-shop-card:hover.franchise-opening__slider-shop-card--header::before {
  background-image: none;
}


.franchise-opening__slider-shop-card p {
  max-width: 186px;
  margin: 0;

  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 880px) {
  .franchise-opening__slider-shop-card p {
    font-size: 30px;
    line-height: 34px;
  }
}

@media  screen and (max-width: 722px) {
  .franchise-opening__slider-shop-card p {
    font-size: 24px;
    line-height: 28px;
  }
}



.franchise-opening__slider-shop-card address {
  display: none;
}

.franchise-opening__slider-shop-card:hover address {

  display: block;

  position: absolute;

  left: 50%;
  bottom: 26px;

  transform: translate(-50%, 0);

  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

  white-space: nowrap;
  z-index: 2000;
}



.franchise-opening__slider-shop-pagination {
  position: relative;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

@media  screen and (min-width: 601px) {
  .franchise-opening__slider-shop-pagination {
    display: none;
  }
}


.franchise-opening__slider-shop-pagination span {
  background:grey;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
