.franchise-page {
  position: relative;

  background-color: #FFF9F0;
}

.franchise-page .main-nav__list {
  position: relative;
}


.franchise-page .main-nav__list::before {
  content: "";

  position: absolute;

  top: -21px;
  right: 15px;

  width: 46px;
  height: 101px;

  background-image: url(../img/bg/twig-8.svg);
}

@media  screen and (max-width: 1144px) {
  .franchise-page .main-nav__list::before {

    right: 40px;
  }
}

@media  screen and (max-width: 768px) {
  .franchise-page .main-nav__list::before {
    background-image: none;
  }
}

.franchise-page .main-nav__list::after {
  content: "";

  position: absolute;

  top: -21px;
  right: -28px;

  width: 51px;
  height: 84px;

  background-image: url(../img/bg/twig-9.svg);
}

@media  screen and (max-width: 1144px) {
  .franchise-page .main-nav__list::after {
    right: 0;
  }
}

@media  screen and (max-width: 768px) {
  .franchise-page .main-nav__list::after {
    background-image: none;
  }
}

@media  screen and (max-width: 768px) {
  .franchise-page .main-nav--closed::before {
    content: "";

    position: absolute;

    top: -10px;
    right: 23.8%;

    width: 81px;
    height: 87px;

    background-image: url(../img/bg/branches.svg);
  }
}
