.header {
  display: flex;
  width: 100%;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 25px;

  /* .main-nav__toggle {
    display: none;
  } */
}

@media  screen and (max-width: 768px) {
  .header {
    padding-top: 10px;
    padding-left: 15px;
  }
}

.header__wrapper {
  display: flex;
  width: 100%;
}

.header .header__logo {
  display: flex;
  width: 67px;
  height: 42px;

  line-height: 0;
}

@media  screen and (max-width: 540px) {
  .header .header__logo {
    width: 57px;
    height: 35px;
  }
}


.header .header__logo img {
  max-width: none;
  width: 67px;
  height: 42px;
}

@media  screen and (max-width: 540px) {
  .header .header__logo img {
    width: 57px;
    height: 35px;
  }
}

.header--opened {
  background-color: #FFF9F0;
}
