.header {
  display: flex;
  width: 100%;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 25px;

  &__wrapper {
    display: flex;
    width: 100%;
  }


  .main-nav__toggle {
    display: none;
  }
}

.header .header__logo {
  display: flex;
  width: 67px;
  height: 42px;

  line-height: 0;
}

.header .header__logo img {
  max-width: none;
  width: 67px;
  height: 42px;
}
