.horeca-header {

  padding-top: 10px;
  padding-bottom: 37.5%;

  background-image: url(../img/bg/bg-horeca@1x.png);
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;


  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/bg-horeca@2x.png);
  }
}

@media  screen and (max-width: 375px) {
  .horeca-header {
    background-image: url(../img/bg/bg-horeca-mobile@1x.png);

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg/bg-horeca-mobile@2x.png);
    }
  }
}

@media  screen and (max-width: 540px) {
  .horeca-header {

    padding-bottom: 50%;

    background-position: 0 77px;
  }
}


.horeca-header img {
  width: 224px;
  height: 103px;

  margin-left: auto;
  margin-right: auto;

}

@media  screen and (max-width: 540px) {
  .horeca-header img {
    width: 121px;
    height: 55px;
  }
}

.horeca-header h1 {
  max-width: 1040px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
  font-size: 75px;
  line-height: 83px;
  text-align: center;
  letter-spacing: -1px;
  color: #000000;
}

@media  screen and (max-width: 1090px) {
  .horeca-header h1 {

    font-size: 55px;
    line-height: 63px;
  }
}

@media  screen and (max-width: 790px) {
  .horeca-header h1 {
    max-width: 500px;

    font-size: 35px;
    line-height: 43px;
  }
}


@media  screen and (max-width: 540px) {
  .horeca-header h1 {
    max-width: 314px;

    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0;
  }
}
