.main-discounts {
  position: relative;
  padding-top: 76px;

  background-color: #FFD885;
  background-image: url(../img/bg/bg-main-discounts@1x.png);
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0px -36px 134px rgba(49, 36, 10, 0.26);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg/bg-main-discounts@2x.png);
  }

  z-index: 7000;
}

@media  screen and (max-width: 540px) {
  .main-discounts {
    padding-top: 35px;

    background-image: url(../img/bg/bg-main-discounts-mobile@1x.png);

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg/bg-main-discounts-mobile@2x.png);
    }
  }
}

.main-discounts__container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  overflow: hidden;
  list-style: none;
  z-index: 1;
}

.main-discounts__wrapper {
  position: relative;
  display: flex;
  justify-content: initial;
  flex-wrap: nowrap;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  z-index: 1;
  transition-property: transform;

}

.main-discounts__card {
  position: relative;
  width: 100%;
  max-height: 100%;
  flex-shrink: 0;
  padding-left: 52px;
}

@media  screen and (max-width: 540px) {
  .main-discounts__card {
    padding-left: 15px;
    padding-right: 15px;
  }
}


.main-discounts__card h3 {
  max-width: 480px;
  margin: 0;
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .main-discounts__card h3 {
    margin-bottom: 14px;

    font-size: 22px;
    line-height: 29px;
    text-align: center;
  }
}

.main-discounts__card p {
  max-width: 480px;
  margin: 0;
  margin-bottom: 50px;

  font-size: 22px;
  line-height: 29px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .main-discounts__card p {
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }
}

.main-discounts__card p span {
  color: #DC0030;
}

.main-discounts__btn {
  display: flex;
  max-width: 202px;
  margin-left: 52px;
  margin-bottom: 82px;
}

@media  screen and (max-width: 540px) {
  .main-discounts__btn {
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 301px;
  }
}

.main-discounts__btn a {
  padding-left: 42.5px;
}

@media  screen and (max-width: 540px) {
  .main-discounts__btn a {
    text-align: center;
  }
}

.main-discounts__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin-left: 52px;
}

@media  screen and (max-width: 540px) {
  .main-discounts__buttons {
    display: none;
  }
}

.main-discounts__buttons .swiper-button-prev {
  margin-right: 17px;
}

@media  screen and (max-width: 540px) {
  .main-discounts__buttons .swiper-button-prev {
    margin-right: 8px;
  }
}

.main-discounts__buttons .swiper-button-prev,
.main-discounts__buttons .swiper-button-next {
  width: 57px;
  height: 57px;

  font-size: 0;

  background-color: #FFFFFF;
  background-image: url(../img/bg/btn-arrow-slider-black.svg);
  background-position: center center;
  box-shadow: 1px 4px 21px rgba(62, 47, 8, 0.05);
  border: 1.5px solid #FFFFFF;
  border-radius: 7.5px;
  cursor: pointer;
}

@media  screen and (max-width: 540px) {
  .main-discounts__buttons .swiper-button-prev,
  .main-discounts__buttons .swiper-button-next {
    width: 32px;
    height: 32px;
  }
}

.main-discounts__buttons .swiper-button-next {
  transform: scaleX(-1);
}

.main-discounts__buttons .swiper-button-prev:hover,
.main-discounts__buttons .swiper-button-next:hover {
  border: 1.5px solid#1E1E1E;
}

.main-discounts__buttons .swiper-button-disabled {
  background-color: #E3D3D3;
  background-image: url(../img/bg/btn-arrow-slider-white.svg);
  border: 1.5px solid #E3D3D3;

  cursor: default;
}

.main-discounts__buttons .swiper-button-disabled:hover {
  border: 1.5px solid #E3D3D3;
}


.main-discounts__pagination {
  position: relative;
  margin-top: 58px;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;

  background-color: rgba(30, 30, 30, 0.2);;
}

.main-discounts__pagination span {
  background-color: #1E1E1E;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
