.main-catalog__wrapper h2 {
  margin: 0;

  font-weight: 600;
  font-size: 75px;
  line-height: 83px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .main-catalog__wrapper h2 {
    font-size: 36px;
    line-height: 40px;
  }
}


.main-catalog__filter {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-catalog__filter a {
  font-size: 15px;
  line-height: 19px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .main-catalog__filter a {
    font-size: 12px;
  }
}


.main-catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-catalog__list-item h3 {
  margin: 0;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .main-catalog__list-item h3 {
    font-size: 12px;
    line-height: 16px;
  }
}


.main-catalog__list-item--catalog {
  color: #FFFFFF;
  background-color: #DC0030;
}
