.main-map {
  position: relative;
}

.main-map::before {
  content: "";

  position: absolute;

  bottom: 0;
  left: 50px;

  width: 122px;
  height: 129px;

  background-image: url(../img/bg/twig-23.svg);
  background-repeat: no-repeat;
  z-index: 1000;
}

@media  screen and (max-width: 645px) {
  .main-map::before {
    background-image: none;
  }
}



.main-map__wrapper {
  position: relative;

}

.main-map__wrapper::before {
  content: "";

  position: absolute;

  top: 0;
  left: 50px;

  width: 154px;
  height: 220px;

  background-image: url(../img/bg/twig-22.svg);
  background-repeat: no-repeat;
  z-index: 1000;
}

@media  screen and (max-width: 645px) {
  .main-map__wrapper::before {
    left: 25px;

    width: 77px;
    height: 110px;
  }
}

.main-map__wrapper::after {
  content: "";

  position: absolute;

  bottom: 0;
  left: 450px;

  width: 181px;
  height: 149px;

  background-image: url(../img/bg/twig-24.svg);
  background-repeat: no-repeat;
  z-index: 1000;
}

@media  screen and (max-width: 810px) {
  .main-map__wrapper::after {
    left: 400px;

    width: 90px;
    height: 74px;
  }
}

@media  screen and (max-width: 645px) {
  .main-map__wrapper::after {
    left: 25px;
  }
}

.main-map__map {
  position: relative;
  width: 100%;
  height: 641px;
  z-index: 10;
}

@media  screen and (max-width: 850px) {
  .main-map__map {
    height: 500px;
  }
}

.main-map__map::before {
  content: "";

  position: absolute;

  left: 362px;
  bottom: -30px;

  width: 63px;
  height: 60px;

  background-image: url(../img/bg/flower-8.svg);
  background-repeat: no-repeat;
  z-index: 1000;
}

@media  screen and (max-width: 850px) {
  .main-map__map::before {

    left: 260px;
  }
}

@media  screen and (max-width: 645px) {
  .main-map__map::before {

    bottom: -15px;

    width: 30px;
    height: 29px;
  }
}

@media  screen and (max-width: 540px) {
  .main-map__map::before {
    left: 80%;
  }
}

.main-map__map::after {
  content: "";

  position: absolute;

  right: 0;
  bottom: -65px;

  width: 145px;
  height: 275px;

  background-image: url(../img/bg/twig-11.svg);
  background-repeat: no-repeat;
  z-index: 1000;
}

@media  screen and (max-width: 645px) {
  .main-map__map::after {
    width: 46px;
    height: 136px;
  }
}

@media  screen and (max-width: 540px) {
  .main-map__map::after {
    bottom: -100px;
  }
}
