.main-buy {
  display: flex;
  padding-top: 53px;
  padding-bottom: 112px;
  padding-left: 137px;
  padding-right: 90px;
}

@media  screen and (max-width: 1220px) {
  .main-buy {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media  screen and (max-width: 990px) {
  .main-buy {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media  screen and (max-width: 930px) {
  .main-buy {
    flex-direction: column;
  }
}

@media  screen and (max-width: 540px) {
  .main-buy {
    padding-top: 30px;
    padding-bottom: 59px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-buy__header h2 {
  margin: 0;
  margin-right: 62px;

  font-weight: 600;
  font-size: 75px;
  line-height: 83px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 1100px) {
  .main-buy__header h2 {
    font-size: 55px;
    line-height: 63px;
  }
}

@media  screen and (max-width: 540px) {
  .main-buy__header h2 {
    font-size: 36px;
    line-height: 40px;
  }
}

.main-buy__text p {
  max-width: 334px;
  margin: 0;
  margin-top: 17px;

  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .main-buy__text p {
    margin-top: 20px;
  }
}

@media  screen and (max-width: 375px) {
  .main-buy__text p {
    max-width: 100%;
    margin-top: 20px;
  }
}

.main-buy__btn {
  margin-top: 35px;
  margin-left: auto;
}

@media  screen and (max-width: 930px) {
  .main-buy__btn {
    margin-left: 0;
  }
}

@media  screen and (max-width: 375px) {
  .main-buy__btn {
    display: flex;
    width: 100%;
  }
}

@media  screen and (max-width: 375px) {
  .main-buy__btn .btn-submit {

    width: 100%;
    max-width: 100%;
  }
}

@media  screen and (max-width: 375px) {
  .main-buy__btn .btn-submit span {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 113px;
  }
}
