.main-nav {
  width: 100%;
  position: relative;
}

.main-nav__wrapper {
  display: flex;
}

@media  screen and (max-width: 768px) {
  .main-nav__wrapper {
    flex-direction: column;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 50px;
  padding-right: 50px;

  list-style: none;
}

@media  screen and (max-width: 768px) {
  .main-nav__list {
    flex-direction: column;
    padding: 0;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;

    background: url(../img/bg/flower-1.svg) 20px 115px/19px 21px no-repeat,
                url(../img/bg/flower-2.svg) 38px 62px/8px 8px no-repeat,
                url(../img/bg/twig-1.svg) 0 156px/85px 173px no-repeat,
                url(../img/bg/flower-3.svg) 66px 342px/13px 15px no-repeat,
                url(../img/bg/flower-4.svg) top 92px right 53px/24px 26px no-repeat,
                url(../img/bg/twig-2.svg) top 150px right 0/47px 180px no-repeat,
                url(../img/bg/flower-5.svg) top 319px right 74px/12px 13px no-repeat;
    background-color: #FFF9F0;
  }
}

.main-nav__item {
  margin-right: 25px;
}

@media  screen and (max-width: 768px) {
  .main-nav__item  {
    margin-right: 0;
    margin-bottom: 23px;
    text-align: center;
  }
}

.main-nav__link {
  font-size: 16px;
  line-height: 20px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .main-nav__link {
    font-size: 14px;
    line-height: 17px;
  }
}

.main-nav__link:hover {
  color: #DC0030;
}

.main-nav__link:active {
  font-weight: 700;
  color: #DC0030;
}

.main-nav__link--active {
  font-weight: 700;
  color: #DC0030;
}

.main-nav__buttons-wrap {
  position: relative;
  min-width: 165px;
  margin-left: auto;
}

@media  screen and (max-width: 768px) {
  .main-nav__buttons-wrap  {
    display: flex;
    width: 100vw;
    background: url(../img/bg/twig-3.svg) 11px 29px/65px 86px no-repeat,
                url(../img/bg/twig-4.svg) top 22px right 17px/31px 94px no-repeat;
    background-color: #FFF9F0;
  }
}

.main-nav__city-button {
  align-self: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-left: auto;

  font-size: 16px;
  line-height: 20px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media  screen and (max-width: 768px) {
  .main-nav__city-button  {
    margin-right: 0;
    margin-left: 0;
    margin-top: 78px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;

    cursor: auto;
  }
}

@media  screen and (max-width: 540px) {
  .main-nav__city-button  {
    font-size: 14px;
    line-height: 17px;
  }
}

.main-nav__city-button:hover {
  color: #DC0030;
}

@media  screen and (max-width: 768px) {
  .main-nav__city-button:hover  {
    color: #1E1E1E;
  }
}

.main-nav__city-button span {
  margin-right: 12px;
}

@media  screen and (max-width: 768px) {
  .main-nav__city-button span  {
    margin-right: 0;
  }
}

.main-nav__city-button svg {
  margin-bottom: 4px;
  fill: transparent;
  stroke: #1E1E1E;
}

@media  screen and (max-width: 768px) {
  .main-nav__city-button svg  {
    display: none;
  }
}

.main-nav__city-button--opened svg {
  stroke: #DC0030;
  transform: rotate(180deg);
}

.main-nav__city-button:hover svg {
  stroke: #DC0030;
}

.main-nav__city-button--closed {
  color: #1E1E1E;
}

.main-nav__city-button--opened {
  color: #DC0030;
}


.main-nav__buttons-list {
  position: absolute;

  top: 43px;
  right: -5px;

  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  background-color: #FFFFFF;

  box-shadow: 0px 20px 12px rgba(71, 53, 21, 0.02), 0px 9px 9px rgba(71, 53, 21, 0.03), 0px 2px 5px rgba(71, 53, 21, 0.03), 0px 0px 0px rgba(71, 53, 21, 0.03);
  border-radius: 5px;
}

.main-nav__buttons-list--opened {
  display: flex;
}

.main-nav__buttons-list--closed {
  display: none;
}

.main-nav__buttons-list button {
  position: relative;

  display: flex;

  min-width: 245px;

  align-self: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  line-height: 17px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav__buttons-list button:hover {
  color: #DC0030;
}

.main-nav__buttons-list button:active {
  font-weight: 700;
  color: #DC0030;
}

.main-nav__button-item--active {
  font-weight: 700;
  color: #DC0030;
}

.main-nav__button-item--active::before {
  content: "";
  position: absolute;

  top: 5px;

  right: 2px;

  width: 13px;
  height: 9px;

  background-image: url(../img/bg/selected.svg);
}

.main-nav__toggle {
  display: none;
}


@media screen and (max-width: 768px) {

  .main-nav__toggle {
    position: absolute;

    top: -2px;
    right: -18px;

    display: block;
    width: 40px;
    height: 40px;

    background-color: transparent;
    background-image: url(../img/bg/icon-open.svg);
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
    border: none;
    z-index: 1200;
  }

  .main-nav--opened .main-nav__toggle {
    top: -2px;
    right: -18px;

    background-image: url(../img/bg/icon-close.svg);
    background-repeat: no-repeat;

  }

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;

    top: 42px;
    left: -82px;

    width: 100vw;
    min-height: 299px;
    height: 100vh;

    background-color: rgba(30, 30, 30, 0.35);
    backdrop-filter: blur(5px);
    z-index: 1000;
  }
}

@media  screen and (max-width: 540px) {
  .main-nav--opened .main-nav__wrapper {
    top: 35px;
    left: -72px;
  }
}

.body-lock {
  position: fixed;
}
