.main-animation {
  position: relative;


  height: 854px;
  max-height: 854px;
}

@media  screen and (max-width: 1250px) {
  .main-animation {
    height: 754px;
    max-height: 754px;
  }
}

@media  screen and (max-width: 768px) {
  .main-animation {
    height: 554px;
    max-height: 554px;
  }
}

@media  screen and (max-width: 540px) {
  .main-animation {
    height: auto;
    max-height: none;

    background-image: url(../img/bg/bg-main-animation.svg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


.main-animation .header {
  position: relative;

  z-index: 6000;
}

.main-animation .main-animation__sky {
  position: absolute;

  top: 0;

  width: 100%;
  height: 100%;

  z-index: 1;

}

@media  screen and (max-width: 540px) {
  .main-animation .main-animation__sky {
    display: none;
  }
}



.main-animation__third-plan {

  position: absolute;

  bottom: -50px;

  height: auto;

  z-index: 3;
}

@media  screen and (max-width: 540px) {
  .main-animation__third-plan {
    display: none;
  }
}


.main-animation__second-plan {

  position: absolute;

  bottom: 0;

  width: 100%;
  height: auto;

  z-index: 4;
}

@media  screen and (max-width: 540px) {
  .main-animation__second-plan {
    display: none;
  }
}

.main-animation__first-plan {

  position: absolute;

  bottom: 0;
  right: 0;

  width: 86.5%;
  height: auto;

  z-index: 5;
}

@media  screen and (max-width: 540px) {
  .main-animation__first-plan {
    display: none;
  }
}

.main-animation__wrapper {
  position: absolute;

  left: 9.5%;

  transform: translateY(500px);

  z-index: 2;
}

@media  screen and (max-width: 540px) {
  .main-animation__wrapper {
    position: relative;
    padding-top: 45px;
    padding-bottom: 244px;
    padding-left: 15px;
    padding-right: 15px;

    left: 0;

    transform: translateY(0);
  }
}


.main-animation__wrapper--active {
  z-index: 50;
}

.main-animation__text img {
  width: 278px;
  height: 169px;
}

@media  screen and (max-width: 1250px) {
  .main-animation__text img {
    width: 40%;
    height: 40%;
  }
}

@media  screen and (max-width: 768px) {
  .main-animation__text img {
    width: 20%;
    height: 20%;
  }
}

@media  screen and (max-width: 540px) {
  .main-animation__text img {
    width: 167px;
    height: 102px;
  }
}



.main-animation__text h1 {
  margin: 0;
  max-width: 434px;
  margin-top: 25px;
  margin-bottom: 21px;

  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #1E1E1E;

}

@media  screen and (max-width: 1250px) {
  .main-animation__text h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media  screen and (max-width: 768px) {
  .main-animation__text h1 {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: normal;
  }
}

@media  screen and (max-width: 540px) {
  .main-animation__text h1 {
    max-width: 278px;
    margin-top: 50px;
    margin-bottom: 15px;

    font-size: 22px;
    line-height: 29px;
  }
}

.main-animation__text p {
  margin: 0;
  max-width: 460px;
  margin-bottom: 45px;

  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #1E1E1E;
}

@media  screen and (max-width: 1250px) {
  .main-animation__text p {
    margin-bottom: 20px;
  }
}

@media  screen and (max-width: 540px) {
  .main-animation__text p {
    max-width: 287px;
    margin-bottom: 35px;
  }
}

.main-animation__text-btn {
  display: flex;
  max-width: 196px;
}

.body-lock {
  position: fixed;
}





.main-animation__btn {
  position: absolute;

  left: 50%;
  bottom: 5%;

  transform: translateX(-50%);

  width: 60px;
  height: 60px;

  z-index: 6;
}

@media  screen and (max-width: 540px) {
  .main-animation__btn {
    width: 35px;
    height: 35px;
  }
}


.main-animation__btn button {


  margin: 0;
  padding: 0;

  width: 57px;
  height: 57px;

  background-color: #FFFFFF;
  border: none;
  box-shadow: none;
  border-radius: 7.5px;
  cursor: pointer;
  border: 1.5px solid #FFFFFF;

  z-index: 6;
}

@media  screen and (max-width: 540px) {
  .main-animation__btn button {
    width: 32px;
    height: 32px;
  }
}


.main-animation__btn button:hover {
  border: 1.5px solid#1E1E1E;
  box-shadow: 1px 4px 21px rgba(62, 47, 8, 0.05);
}


.main-animation__btn button::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 57px;
  height: 57px;

  background-image: url(../img/svg/arrow-bottom.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 540px) {
  .main-animation__btn button::before {
    width: 32px;
    height: 32px;
  }
}

.main-animation__btn button:disabled {
  background-color: #E3D3D3;

  border: 1.5px solid #E3D3D3;

  cursor: default;
}

.main-animation__btn button::before:disabled {
  background-image: url(../img/svg/arrow-bottom-white.svg);
}

.main-animation__btn button:disabled:hover {
  border: 1.5px solid #E3D3D3;
}
