.news {
  display: flex;
}

@media  screen and (max-width: 920px) {
  .news {
    flex-direction: column;
  }
}

.news__aside {
  position: relative;
  min-width: 608px;
}

@media  screen and (max-width: 1250px) {
  .news__aside {
    min-width: 449px;
  }
}

@media  screen and (max-width: 1070px) {
  .news__aside {
    min-width: 306px;
  }
}

@media  screen and (max-width: 400px) {
  .news__aside::before {
    content: "";
    position: absolute;

    top: -45px;
    right: 0;

    width: 375px;
    height: 133px;

    background-image: url(../img/bg/bg-news-mobile.svg);
    background-repeat: no-repeat;
  }
}



.news__aside ul {
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
  padding-bottom: 446px;
  padding-top: 101px;
  padding-left: 138px;
  padding-right: 141px;

  list-style: none;

  background-image: url(../img/bg/bg-news.svg);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;

  position: sticky;
  top: 0;
}

@media  screen and (max-width: 1250px) {
  .news__aside ul {
    padding-bottom: 324px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media  screen and (max-width: 1070px) {
  .news__aside ul {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media  screen and (max-width: 920px) {
  .news__aside ul {
    padding-top: 50px;
    padding-bottom: 50px;

    background-image: none;
  }
}

@media  screen and (max-width: 640px) {
  .news__aside ul {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 540px) {
  .news__aside ul {
    display: flex;
    margin-bottom: 0;
    margin-right: -10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.news__aside ul li {
  display: flex;
  margin-bottom: 10px;
}

@media  screen and (max-width: 540px) {
  .news__aside ul li {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.news__aside object {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  background-color: #DC0030;
  border-radius: 100%;

  opacity: 0;
}

@media  screen and (max-width: 540px) {
  .news__aside object {
    width: 20px;
    height: 20px;
  }
}

.news__item--active object {

  opacity: 1;
}

.news__item a {
  font-weight: 600;
  font-size: 75px;
  line-height: 83px;
  letter-spacing: -1px;
  color: #1E1E1E;
}

@media  screen and (max-width: 1070px) {
  .news__item a {
    font-size: 55px;
    line-height: 63px;
  }
}

@media  screen and (max-width: 540px) {
  .news__item a {
    font-size: 22px;
    line-height: 29px;
    letter-spacing: normal;
  }
}

.news__aside object a {
  display: flex;
}

.news__aside object a span {

  font-weight: 750;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
}

@media  screen and (max-width: 540px) {
  .news__aside object a span {

    font-size: 10px;
    line-height: 11px;
  }
}

.news__item--active a {
  color: #DC0030;
}

.news__item:hover object {
  opacity: 1;
}

.news__list {
  margin-right: 20px;
  padding-top: 70px;
  padding-bottom: 9px;
}

@media  screen and (max-width: 920px) {
  .news__list {
    margin-right: 0;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media  screen and (max-width: 640px) {
  .news__list {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 570px) {
  .news__list {
    padding-bottom: 48px;
  }
}

.news__list ul {
  margin: 0;
  padding: 0;
  margin-bottom: -124px;

  list-style: none;
}

@media  screen and (max-width: 540px) {
  .news__list ul {
    margin-bottom: -70px;
  }
}


.news__list ul li {
  position: relative;
  margin-bottom: 124px;
}

@media  screen and (max-width: 540px) {
  .news__list ul li {
    margin-bottom: 70px;
  }
}

.news__list article {
  display: flex;
}

@media  screen and (max-width: 570px) {
  .news__list article {
    flex-direction: column;
  }
}

.news__list ul li:not(:last-child)::before {
  content: "";

  position: absolute;

  left: 0;
  bottom: -62px;

  width: 100%;
  height: 1px;

  background-color: rgba(30, 30, 30, 0.1);
}

@media  screen and (max-width: 540px) {
  .news__list ul li:not(:last-child)::before {
    bottom: -35px;
  }
}

@media  screen and (max-width: 570px) {
  .news__img {
    position: relative;
    margin-top: 28px;

    order: 2;
  }
}

.news__tag-mobile {
  display: none;
}

@media  screen and (max-width: 570px) {
  .news__tag-mobile {
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;

    bottom: 15px;
    left: 15px;
    display: block;

    font-size: 12px;
    line-height: 16px;
    color: #1E1E1E;

    background-color: #FFFFFF;
    border-radius: 60px;
  }
}

.news__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 411px;
  padding-left: 35px;
}

@media  screen and (max-width: 640px) {
  .news__text {
    padding-left: 15px;
  }
}

@media  screen and (max-width: 570px) {
  .news__text {
    padding-left: 0;

    order: 1;
  }
}

.news__text h3 {
  margin: 0;
  max-width: 376px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #1E1E1E;
}

@media  screen and (max-width: 570px) {
  .news__text h3 {
    margin-bottom: 0;
  }
}

@media  screen and (max-width: 540px) {
  .news__text h3 {
    font-size: 18px;
    line-height: 23px;
  }
}

.news__tag {
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;

  font-size: 12px;
  line-height: 16px;
  color: #1E1E1E;

  background-color: #FFFFFF;
  border-radius: 60px;
}

@media  screen and (max-width: 570px) {
  .news__tag {
    display: none;
  }
}

.news__description {
  margin-top: auto;
}

.news__text p {
  margin: 0;
  margin-top: 20px;

  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #1E1E1E;
}

@media  screen and (max-width: 570px) {
  .news__text p {
    margin-top: 15px;
  }
}

.news__red {
  color: #DC0030;
}
