.partners {

}

.partners__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 127px;
  padding-bottom: 59px;
  padding-left: 138px;
  padding-right: 137px;

  box-shadow: 0px 127px 76px rgba(87, 52, 0, 0.02), 0px 56px 56px rgba(87, 52, 0, 0.03), 0px 14px 31px rgba(87, 52, 0, 0.03), 0px 0px 0px rgba(87, 52, 0, 0.03);
}

.partners h2 {
  margin: 0;

  font-weight: 600;
  font-size: 75px;
  line-height: 83px;
  letter-spacing: -1px;
  color: #000000;
}

.partners p {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #1E1E1E;
}

.partners p a {
  color: #DC0030;
}

.partners h3 {
  margin: 0;
  margin-top: 15px;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #1E1E1E;
}

.partners__marketing,
.partners__manufacture,
.partners__sale {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 138px;
  padding-right: 126px;
}

.partners__marketing,
.partners__manufacture {
  box-shadow: 0px 127px 76px rgba(87, 52, 0, 0.02), 0px 56px 56px rgba(87, 52, 0, 0.03), 0px 14px 31px rgba(87, 52, 0, 0.03), 0px 0px 0px rgba(87, 52, 0, 0.03);
}

.partners ul {
  display: flex;
  justify-content: space-between;
  width: 69.7%;
  //width: 820px;
  //max-width: 820px;
  margin: 0;
  padding: 0;

  list-style: none;
}
