.product-order__text p {
  margin: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -3px;
  color: #000000;
}

@media  screen and (max-width: 540px) {
  .product-order__text p {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}

.product-order__text ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-order__text ol li p {
  margin: 0;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: normal;
  color: #000000;
}

@media  screen and (max-width: 540px) {
  .product-order__text ol li p {
    font-size: 14px;
    line-height: 18px;
  }
}
