.product-info {
  display: flex;
  padding-bottom: 178px;

  background-image: url(../img/bg/bg-product-info.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

@media  screen and (max-width: 830px) {
  .product-info {
    flex-direction: column;
  }
}

@media  screen and (max-width: 540px) {
  .product-info {
    padding-bottom: 85px;

    background-image: url(../img/bg/bg-product-info-mobile.svg);
  }
}

@media  screen and (max-width: 830px) {
  .product-info__img {
    padding-top: 31px;
    padding-left: 34px;
  }
}

@media  screen and (max-width: 580px) {
  .product-info__img {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 540px) {
  .product-info__img {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

@media  screen and (max-width: 830px) {
  .product-info__img img {
    width: 50%;
  }
}

@media  screen and (max-width: 540px) {
  .product-info__img img {
    width: 70%;
  }
}

@media  screen and (max-width: 400px) {
  .product-info__img img {
    width: 100%;
  }
}

.product-info__text {
  min-width: 607px;
  padding-top: 31px;
  padding-left: 34px;
  padding-right: 50px;
}

@media  screen and (max-width: 580px) {
  .product-info__text {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media  screen and (max-width: 540px) {
  .product-info__text {
    min-width: auto;
    width: 100%;
    padding-top: 20px;
  }
}

.product-info__text h1 {
  margin: 0;
  max-width: 409px;
  margin-bottom: 17px;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .product-info__text h1 {
    max-width: none;
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}

.product-info__text p {
  margin: 0;
  max-width: 436px;
  margin-bottom: 41px;

  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .product-info__text p {
    margin-bottom: 26px;
  }
}

.product-info__btn {
  display: flex;
  justify-content: center;
  max-width: 204px;
  margin-bottom: 59px;
}

@media  screen and (max-width: 540px) {
  .product-info__btn {
    margin-bottom: 26px;
  }
}

@media  screen and (max-width: 400px) {
  .product-info__btn {
    width: 100%;
    max-width: 100%;
  }
}

.product-info__btn .btn-submit {
  display: flex;
  justify-content: center;
}

.product-info__features dl {
  display: flex;
}

@media  screen and (max-width: 540px) {
  .product-info__features dl {
    flex-direction: column;
    margin-bottom: -9px;
  }
}

.product-info__list-first,
.product-info__list-second,
.product-info__list-third,
.product-info__list-fourth {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  padding-top: 10px;

  border-top: 1px solid rgba(30, 30, 30, 0.1);
}

@media  screen and (max-width: 540px) {
  .product-info__list-first,
  .product-info__list-second,
  .product-info__list-third,
  .product-info__list-fourth {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.product-info__list-fourth {
  border-bottom: 1px solid rgba(30, 30, 30, 0.1);
}

.product-info__list-first div:nth-child(1) {
  margin-right: 95px;
}

@media  screen and (max-width: 540px) {
  .product-info__list-first div:nth-child(1) {
    margin-right: 0;
  }
}


.product-info__list-first div:nth-child(2) {
  margin-right: 45px;
}

@media  screen and (max-width: 540px) {
  .product-info__list-first div:nth-child(2) {
    margin-right: 0;
  }
}

.product-info__list-second div:nth-child(1),
.product-info__list-second div:nth-child(2),
.product-info__list-second div:nth-child(3) {
  margin-right: 56px;
}

@media  screen and (max-width: 540px) {
  .product-info__list-second div:nth-child(1),
  .product-info__list-second div:nth-child(2),
  .product-info__list-second div:nth-child(3) {
    margin-right: 0;
  }
}

.product-info__list-third div:nth-child(1) {
  margin-right: 56px;
}

@media  screen and (max-width: 540px) {
  .product-info__list-third div:nth-child(1) {
    margin-right: 0;
  }
}

.product-info__list-third div:nth-child(2) {
  margin-right: 71px;
}

@media  screen and (max-width: 540px) {
  .product-info__list-third div:nth-child(2) {
    margin-right: 0;
  }
}

@media  screen and (max-width: 540px) {
  .product-info__features dl div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
  }
}

.product-info__features dl dt {
  margin-bottom: 10px;

  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .product-info__features dl dt {
    margin-bottom: 0;
  }
}

.product-info__features dl dd {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .product-info__features dl dd {
    font-size: 14px;
    line-height: 19px;
  }
}

.product-info__composition {
  padding-bottom: 40px;

  border-bottom: 1px solid rgba(30, 30, 30, 0.1);
}

@media  screen and (max-width: 540px) {
  .product-info__composition {
    padding-bottom: 15px;
  }
}

.product-info__composition h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 12px;

  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .product-info__composition h3 {
    margin-top: 15px;
  }
}

.product-info__composition ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 523px;
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
  margin-right: -8px;

  list-style: none;
}

@media  screen and (max-width: 540px) {
  .product-info__composition ul {
    max-width: none;
    width: 100%;
    margin-bottom: -7px;
    margin-right: -6px;
  }
}

.product-info__composition ul li {
  margin-right: 8px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 14px;

  background-color: #FFFFFF;
  border-radius: 60px;
}

@media  screen and (max-width: 540px) {
  .product-info__composition ul li {
    margin-bottom: 7px;
    margin-right: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.product-info__composition ul li span {
  font-size: 16px;
  line-height: 22px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .product-info__composition ul li span {
    font-size: 14px;
    line-height: 19px;
  }
}

.product-info__awards {
  max-width: 523px;
}

@media  screen and (max-width: 540px) {
  .product-info__awards {
    max-width: none;
    width: 100%;
  }
}

.product-info__awards h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;


  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .product-info__awards h3 {
    margin-top: 15px;
  }
}

.product-info__awards ul {
  margin: 0;
  padding: 0;
  margin-bottom: -20px;

  list-style: none;
}

.product-info__awards ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 48px;
}

@media  screen and (max-width: 540px) {
  .product-info__awards ul li {
    padding-left: 32px;
  }
}

.product-info__awards ul li:nth-child(1)::before {
  content: "";

  position: absolute;

  top: -2px;
  left: 0;

  width: 34px;
  height: 42px;

  background-image: url(../img/bg/awards-1.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 540px) {
  .product-info__awards ul li:nth-child(1)::before {
    padding-left: 32px;

    width: 22px;
    height: 28px;
  }
}

.product-info__awards ul li:nth-child(2)::before {
  content: "";

  position: absolute;

  top: -2px;
  left: 0;

  width: 34px;
  height: 42px;

  background-image: url(../img/bg/awards-2.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 540px) {
  .product-info__awards ul li:nth-child(2)::before {
    padding-left: 32px;

    width: 22px;
    height: 28px;
  }
}

.product-info__awards ul li h4 {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 450;
  font-size: 16px;
  line-height: 18px;
  color: #1E1E1E;
}

@media  screen and (max-width: 540px) {
  .product-info__awards ul li h4 {
    margin-bottom: 6px;

    font-size: 14px;
    line-height: 15px;
  }
}

.product-info__awards ul li p {
  margin: 0;

  font-size: 14px;
  line-height: 19px;
  color: #1E1E1E;
  opacity: 0.5;
}

@media  screen and (max-width: 540px) {
  .product-info__features dl dd {
    font-size: 14px;
    line-height: 19px;
  }
}
