.product-catalog {
  padding-top: 94px;
  flex-wrap: wrap;

  box-shadow: 0px -16px 134px rgba(21, 49, 10, 0.04);
}

@media  screen and (max-width: 540px) {
  .product-catalog {
    padding-top: 35px;
  }
}

.product-catalog__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 138px;
  padding-right: 137px;
}

@media  screen and (max-width: 1070px) {
  .product-catalog__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media  screen and (max-width: 860px) {
  .product-catalog__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media  screen and (max-width: 540px) {
  .product-catalog__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.product-catalog__wrapper h2 {
  margin: 0;
  margin-bottom: 40px;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #1E1E1E;
}

@media  screen and (max-width: 860px) {
  .product-catalog__wrapper h2 {
    font-size: 35px;
    line-height: 41px;
  }
}

@media  screen and (max-width: 540px) {
  .product-catalog__wrapper h2 {
    margin-bottom: 20px;

    font-size: 22px;
    line-height: 29px;
  }
}

.product-catalog__btn {
    display: flex;
    margin-top: 10px;
}

@media  screen and (max-width: 860px) {
  .product-catalog__btn {
    margin-top: 12px;
  }
}

@media  screen and (max-width: 540px) {
  .product-catalog__btn {
    margin-top: 4px;
  }
}

.product-catalog__btn .btn-submit {

    color: #DC0030;
    background-color: transparent;
}

@media  screen and (max-width: 860px) {
  .product-catalog__btn .btn-submit {
    padding: 0;
  }
}

.product-catalog__btn .btn-submit:hover {
  color: #1E1E1E;
}

.product-catalog__btn .btn-submit span::after {
  background-image: url(../img/bg/btn-arrow-red.svg);
}

.product-catalog__btn .btn-submit:hover span::after {
    color: #1E1E1E;

    background-image: url(../img/bg/btn-arrow-black.svg);
}

.product-catalog .catalog-main__list-cards {
  width: 100%;

  filter: none;
}

.product-catalog .catalog-main__card {
  height: 588px;
  max-height: 588px;
}

@media  screen and (max-width: 1200px) {
  .product-catalog .catalog-main__card {
    height: 490px;
    max-height: 490px;
  }
}

@media  screen and (max-width: 1000px) {
  .product-catalog .catalog-main__card {
    height: 300px;
    max-height: 300px;
  }
}

@media  screen and (max-width: 540px) {
  .product-catalog .catalog-main__card {
    height: 188px;
    max-height: 188px;
  }
}



.product-catalog .catalog-main__card--1,
.product-catalog .catalog-main__card--2,
.product-catalog .catalog-main__card--3 {
  display: none;
}

@media  screen and (min-width: 1920px) {
  .product-catalog .catalog-main__card--2 {
    display: block;
  }
}

@media  screen and (max-width: 880px) {
  .product-catalog .catalog-main__card--1,
  .product-catalog .catalog-main__card--2,
  .product-catalog .catalog-main__card--3 {
    display: block;
  }
}

@media  screen and (max-width: 880px) {
  .product-catalog .catalog-main__card--6,
  .product-catalog .catalog-main__card--8 {
    display: none;
  }
}
