.reasons-work {

  padding-top: 78px;
  padding-bottom: 40px;

  box-shadow: 0px 14px 134px rgba(49, 33, 10, 0.08);
}

@media  screen and (max-width: 540px) {
  .reasons-work {
    padding-top: 43px;
    padding-bottom: 0;
  }
}

.reasons-work h2 {
  margin: 0;
  margin-left: 138px;
  margin-bottom: 40px;

  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #1E1E1E;
}

@media  screen and (max-width: 1090px) {
  .reasons-work h2 {
    font-size: 45px;
    line-height: 51px;
  }
}

@media  screen and (max-width: 830px) {
  .reasons-work h2 {
    max-width: 400px;
    margin-left: 40px;
  }
}


@media  screen and (max-width: 540px) {
  .reasons-work h2 {
    max-width: 301px;
    margin-left: 15px;

    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}


.reasons-work ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reasons-work ul li {
  width: 33.33333%;
  margin-bottom: 25px;

  img {
    @media (min-width: 1441px) {
      width: 100%;
    }
  }
}

@media  screen and (max-width: 738px) {
  .reasons-work ul li {
    width: 50%;
  }
}

@media  screen and (max-width: 540px) {
  .reasons-work ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media  screen and (max-width: 540px) {
  .reasons-work ul li img {
    width: 100%;
    object-fit: cover;
  }
}

.reasons-work h3 {
  margin: 0;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;

  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

@media  screen and (max-width: 540px) {
  .reasons-work h3 {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 12px;
    line-height: 16px;
  }
}


.reasons-work p {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

@media  screen and (max-width: 540px) {
  .reasons-work p {
    padding-left: 15px;
    padding-right: 15px;

    font-size: 12px;
    line-height: 16px;
  }
}
