.suppliers {
  padding-top: 96px;
  padding-bottom: 150px;
  padding-left: 138px;
  padding-right: 130px;
}

@media  screen and (max-width: 1260px) {
  .suppliers {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media  screen and (max-width: 1090px) {
  .suppliers {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media  screen and (max-width: 540px) {
  .suppliers {
    padding-top: 58px;
    padding-bottom: 64px;
  }
}

.suppliers__wrapper {
  display: flex;
  justify-content: space-between;

}

@media  screen and (max-width: 900px) {
  .suppliers__wrapper {
    flex-direction: column;
  }
}


.suppliers h2 {
  margin: 0;
  margin-bottom: 112px;

  font-weight: 600;
  font-size: 75px;
  line-height: 83px;
  letter-spacing: -1px;
  color: #000000;
}

@media  screen and (max-width: 1090px) {
  .suppliers h2 {
    font-size: 55px;
    line-height: 63px;
  }
}

@media  screen and (max-width: 900px) {
  .suppliers h2 {
    margin-bottom: 40px;
  }
}


@media  screen and (max-width: 540px) {
  .suppliers h2 {
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 40px;
  }
}

.suppliers p {
  max-width: 495px;
  margin: 0;
  margin-top: 17px;

  font-size: 14px;
  line-height: 18px;
  color: #1E1E1E;
}

.suppliers p strong {
  font-weight: 600;
}

@media  screen and (max-width: 900px) {
  .suppliers p {
    margin-top: 0;
    margin-bottom: 78px;
  }
}

.suppliers__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 540px) {
  .suppliers__list {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }
}

@media  screen and (max-width: 540px) {
  .suppliers__list li {
    margin-bottom: 40px;
  }
}
