@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Avenir Next Cyr";

  font-display: swap;
  src:
    url("../fonts/avenirnextcyr-regular.woff2") format("woff2"),
    url("../fonts/avenirnextcyr-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Avenir Next Cyr";

  font-display: swap;
  src:
    url("../fonts/avenirnextcyr-medium.woff2") format("woff2"),
    url("../fonts/avenirnextcyr-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Avenir Next Cyr";

  font-display: swap;
  src:
    url("../fonts/avenirnextcyr-demi.woff2") format("woff2"),
    url("../fonts/avenirnextcyr-demi.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Avenir Next Cyr";

  font-display: swap;
  src:
    url("../fonts/avenirnextcyr-bold.woff2") format("woff2"),
    url("../fonts/avenirnextcyr-bold.woff") format("woff");
}
