<header class="header container @@if (context.mod) { header--@@mod }">
  <div class="header__wrapper">
    <a class="header__logo" @@if (!context.main) { href="main.html"} aria-label="Переход на главную">
      <!-- 1x: 67px; 2x: 134px -->
      <img src="img/content/logo@1x.png" srcset="img/content/logo@2x.png 2x" width="67" height="42" alt="Логотип">
    </a>

    <nav class="main-nav main-nav--closed">
      <button class="main-nav__toggle btn-reset" type="button" aria-label="Переключатель отображения меню" aria-pressed="false">
        <svg width="20" height="20">
          <use xlink:href="#icon-burger"></use>
        </svg>
      </button>
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 0) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 0) { href="#" }>Главная</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 1) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 1) { href="#" }>Каталог</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 2) { href="#" }>Где купить</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 3) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 3) { href="#" }>О компании</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 4) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 4) { href="#" }>HoReCa</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 5) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 5) { href="#" }>Франшиза</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 6) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 6) { href="#" }>Новости</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 7) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 7) { href="#" }>Контакты</a>
          </li>
        </ul>

        <div class="main-nav__buttons-wrap">
          <button class="main-nav__city-button main-nav__city-button--closed">
            <nobr>
              <span>Санкт-Петербург</span>
              <svg width="12" height="6">
                <use xlink:href="#icon-arrow-down"></use>
              </svg>
            </nobr>
          </button>

          <div class="main-nav__buttons-list main-nav__buttons-list--closed">
            <button class="main-nav__button-item main-nav__button-item--active">
              <span>Санкт-Петербург</span>
            </button>
            <button class="main-nav__button-item">
              <span>Москва</span>
            </button>
            <button class="main-nav__button-item">
              <span>Тверь</span>
            </button>
            <button class="main-nav__button-item">
              <span>Рязань</span>
            </button>
          </div>
        </div>

      </div>
    </nav>

  </div>
</header>
